<section class="w-screen lflex items-center bg-default-400/10 py-11">
    <div class="container">
        <div class="flex items-center justify-center">
            <ol aria-label="Breadcrumb" class="flex items-center whitespace-nowrap min-w-0 gap-2">
                <li class="text-sm">
                    <a class="flex items-center gap-2 align-middle text-default-800 transition-all leading-none hover:text-primary-500"
                        href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="home" class="lucide lucide-home w-4 h-4">
                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Trang Chủ
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </a>
                </li>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Sản Phẩm
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                    <path d="m9 18 6-6-6-6"></path>
                </svg>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Rau
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="bg-white py-6">
    <div class="container flex flex-col space-y-4">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
            <div class="flex flex-col space-y-2 p-5">
                <div class="w-full">
                    <div>
                        <swiper-container style="
                --swiper-navigation-color: #fff;
                --swiper-pagination-color: #fff;
              " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
                            @for (item of [1,2,3,4]; track $index) {
                            <swiper-slide>
                                <!-- <img src="assets/images/sanpham/{{ Detail?.Image?.Main }}" /> -->
                                <p-image src="assets/images/sanpham/{{ Detail?.Image?.Main }}" alt="Image" [preview]="true"></p-image>
                            </swiper-slide>
                            }
                        </swiper-container>
                    </div>
                </div>
                <div>
                    <div>
                        <swiper-container class="mySwiper2" space-between="10" slides-per-view="4" free-mode="true"
                            watch-slides-progress="true">
                            <swiper-slide>
                                <img src="assets/images/sanpham/{{ Detail?.Image?.Main }}" />
                            </swiper-slide>
                            <swiper-slide>
                                <img src="assets/images/sanpham/{{ Detail?.Image?.Main }}" />
                            </swiper-slide>
                            <swiper-slide>
                                <img src="assets/images/sanpham/{{ Detail?.Image?.Main }}" />
                            </swiper-slide>
                            <swiper-slide>
                                <img src="assets/images/sanpham/{{ Detail?.Image?.Main }}" />
                            </swiper-slide>
                            <swiper-slide>
                                <img src="assets/images/sanpham/{{ Detail?.Image?.Main }}" />
                            </swiper-slide>
                        </swiper-container>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-5 p-4">
                <div class="text-xl">{{ Detail?.Title }}</div>
                <div>SKU : {{ Detail?.SKU }}</div>
                <div class="flex flex-row space-x-2">
                    <div></div>
                    <div>0 Đánh Giá</div>
                </div>
                <div [innerHTML]="Detail?.Mota"></div>
                <div class="text-3xl font-semiboldbold">
                    {{ Detail?.Giagoc | number : '1.0-0' }} VNĐ
                </div>
                <div class="flex flex-row items-center gap-3">
                    <div class="text-sm text-default-700">Khối Lượng :</div>
                    <div>
                        <input type="radio" name="option" id="1" value="1" class="peer hidden" checked="" />
                        <label for="1"
                            class="p-3 flex justify-center items-center cursor-pointer select-none rounded-full text-sm text-center bg-default-200 peer-checked:bg-primary peer-checked:text-white">
                            0,5 kg</label>
                    </div>

                    <div>
                        <input type="radio" name="option" id="2" value="2" class="peer hidden" />
                        <label for="2"
                            class="p-3 flex justify-center items-center cursor-pointer select-none rounded-full text-sm text-center bg-default-200 peer-checked:bg-primary peer-checked:text-white">
                            1 kg</label>
                    </div>

                    <div>
                        <input type="radio" name="option" id="3" value="3" class="peer hidden" />
                        <label for="3"
                            class="p-3 flex justify-center items-center cursor-pointer select-none rounded-full text-sm text-center bg-default-200 peer-checked:bg-primary peer-checked:text-white">
                            1,5 kg</label>
                    </div>
                </div>
                <div>Số Lượng Còn : 0</div>
                <div class="flex flex-row space-x-2">
                    <div class="relative z-10 inline-flex justify-between border border-default-200 p-1 rounded-full">
                        <button type="button"
                            class="minus flex-shrink-0 bg-default-200 text-default-800 rounded-full h-9 w-9 text-sm inline-flex items-center justify-center bg-slate-100 hover:bg-slate-300">
                            –
                        </button>
                        <input type="text" class="w-12 border-0 text-sm text-center focus:ring-0 p-0 bg-transparent"
                            value="1" min="0" max="100" readonly="" />
                        <button type="button"
                            class="plus flex-shrink-0 bg-default-200 text-default-800 rounded-full h-9 w-9 text-sm inline-flex items-center justify-center bg-slate-100 hover:bg-slate-300">
                            +
                        </button>
                    </div>
                    <a href="gio-hang"
                        class="inline-flex items-center justify-center rounded-full border border-primary bg-primary px-10 py-3 text-center text-sm font-medium text-white shadow-sm transition-all duration-500 hover:bg-primary-500">
                        Mua Ngay
                    </a>
                </div>
                <div class="flex flex-wrap gap-2 items-center">
                    <span> Thương Hiệu : </span>
                    <div class="border border-default-200 rounded-full px-3 py-1.5 flex items-center gap-2.5">
                        <img src="/assets/images/logo.webp" class="w-4" />
                        <span class="text-xs">Trần Gia</span>
                    </div>
                    <div class="border border-default-200 rounded-full px-3 py-1.5 flex items-center gap-2.5">
                        <img src="/assets/images/logo.webp" class="w-4" />
                        <span class="text-xs">Thương hiệu 1</span>
                    </div>
                    <div class="border border-default-200 rounded-full px-3 py-1.5 flex items-center gap-2.5">
                        <img src="/assets/images/logo.webp" class="w-4" />
                        <span class="text-xs">Thương hiệu 2</span>
                    </div>
                </div>
                <div>Danh Mục :</div>
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined">shoppingmode</span>
                    <span>Tag : </span>
                </div>
            </div>
        </div>

        <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab"
                data-tabs-toggle="#default-tab-content" role="tablist">
                <li class="me-2" role="presentation">
                    <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab"
                        data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                        aria-selected="false">
                        Mô Tả
                    </button>
                </li>
                <li class="me-2" role="presentation">
                    <button
                        class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                        id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                        aria-controls="dashboard" aria-selected="false">
                        Đánh Giá Và Xếp Hạng
                    </button>
                </li>
            </ul>
        </div>
        <div id="default-tab-content">
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel"
                aria-labelledby="profile-tab">
                <p class="text-gray-500 dark:text-gray-400" [innerHTML]="Detail?.Noidung">
                    ádasdasd
                </p>
            </div>
            <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel"
                aria-labelledby="dashboard-tab">
                <div class="pb-6 md:pb-7 leading-7 text-sm text-gray-600">
                    <span>Để lại đánh giá</span>
                    <span> Các trường bắt buộc được đánh dấu *</span>
                    <form class="w-full mx-auto flex flex-col justify-center mt-6 lg:mt-8" novalidate="">
                        <div class="flex flex-col space-y-5 md:space-y-6 lg:space-y-7">
                            <div class="pb-1.5">
                                <label
                                    class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer">
                                    Đánh giá của bạn *</label>
                                <div class="react-stars-wrapper-09566990210754651" style="display: flex">
                                    <div tabindex="0"
                                        aria-label="add rating by typing an integer from 0 to 5 or pressing arrow keys"
                                        class="undefined react-stars" style="overflow: hidden; position: relative">
                                        <span class="" data-index="0" data-forhalf="★" style="
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        display: block;
                        float: left;
                        color: rgb(198, 198, 198);
                        font-size: 20px;
                      ">★</span><span class="" data-index="1" data-forhalf="★" style="
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        display: block;
                        float: left;
                        color: rgb(198, 198, 198);
                        font-size: 20px;
                      ">★</span><span class="" data-index="2" data-forhalf="★" style="
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        display: block;
                        float: left;
                        color: rgb(198, 198, 198);
                        font-size: 20px;
                      ">★</span><span class="" data-index="3" data-forhalf="★" style="
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        display: block;
                        float: left;
                        color: rgb(198, 198, 198);
                        font-size: 20px;
                      ">★</span><span class="" data-index="4" data-forhalf="★" style="
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        display: block;
                        float: left;
                        color: rgb(198, 198, 198);
                        font-size: 20px;
                      ">★</span>
                                        <p role="status" style="position: absolute; left: -200rem">
                                            0
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid lg:grid-cols-2 gap-4">
                                <div class="lg:col-span-1 col-span-2">
                                    <label for="name"
                                        class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer">
                                        Họ Tên *
                                    </label>
                                    <input id="name" name="name" type="text" placeholder=""
                                        class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body placeholder-body min-h-12 bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12 rounded-md"
                                        autocomplete="off" spellcheck="false" aria-invalid="false" />
                                </div>
                                <div class="lg:col-span-1 col-span-2">
                                    <label for="email"
                                        class="block text-gray-600 font-semibold text-sm leading-none mb-3 cursor-pointer">Email
                                        *</label><input id="email" name="email" type="email" placeholder=""
                                        class="py-2 px-4 md:px-5 w-full appearance-none transition duration-150 ease-in-out border text-input text-xs lg:text-sm font-body placeholder-body min-h-12 transition duration-200 ease-in-out bg-white border-gray-300 focus:outline-none focus:border-heading h-11 md:h-12 rounded-md"
                                        autocomplete="off" spellcheck="false" aria-invalid="false" />
                                </div>

                                <label for="message"
                                    class="block text-gray-600 font-semibold text-sm leading-none mb-3">
                                    Nội dung *</label>

                                <textarea id="message" name="message"
                                    class="col-span-2 px-4 py-3 flex items-center w-full rounded appearance-none transition duration-300 ease-in-out text-heading text-sm focus:outline-none focus:ring-0 bg-white border border-gray-300 focus:shadow focus:outline-none focus:border-heading placeholder-body"
                                    autocomplete="off" spellcheck="false" rows="4" placeholder=""></textarea>
                            </div>
                            <div>
                                <button
                                    class="inline-flex items-center justify-center rounded-full border border-primary bg-primary px-10 py-3 text-center text-sm font-medium text-white shadow-sm transition-all duration-500 hover:bg-primary-500">
                                    Vui Lòng Đăng Nhập
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white container py-6">
    <div class="text-center font-bold text-2xl">Sản Phẩm Liên Quan</div>
    <app-slide-sanpham [Sohang]="1"></app-slide-sanpham>
</section>