<section class="w-screen flex items-center bg-gray-200 py-8">
    <div class="container">
        <div class="flex items-center justify-center">
            <ol aria-label="Breadcrumb" class="flex items-center whitespace-nowrap min-w-0 gap-2">
                <li class="text-sm">
                    <a class="flex items-center gap-2 align-middle text-default-800 transition-all leading-none hover:text-primary-500"
                        href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="home" class="lucide lucide-home w-4 h-4">
                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Trang Chủ
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </a>
                </li>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Sản Phẩm
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                    <path d="m9 18 6-6-6-6"></path>
                </svg>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Rau
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="bg-white py-6">
    <div class="container flex lg:flex-row flex-col lg:space-x-3 space-y-3">
        <div class="hidden lg:flex flex-col space-y-3">
            <app-danhmucsanphamsite></app-danhmucsanphamsite>
            <app-slide-sanpham Type="DOC" Title="Sản Phẩm Giá Rẻ"></app-slide-sanpham>
        </div>
        <div class="container flex flex-col space-y-4">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-4">
            <div class="flex flex-col space-y-2 p-5">
                <div class="w-full">
                    <div>
                        <swiper-container style="
                --swiper-navigation-color: #fff;
                --swiper-pagination-color: #fff;
              " class="mySwiper" thumbs-swiper=".mySwiper2" space-between="0" navigation="true">
                            @if(Detail&&Detail.ListImage&&Detail.ListImage.length>0){
                            @for (item of Detail?.ListImage; track $index) {
                            <swiper-slide class="p-2 border rounded-lg">
                                @if(item && item.src){
                                <img src="{{item.src}}" class="w-80 mx-auto" (click)="ZoomImage(dialogZoom);SelectImage=item.src">
                                }
                                @else{
                                <img src="assets/images/noimage.png" class="p-3 max-w-32 mx-auto rounded-lg"
                                    (click)="ZoomImage(dialogZoom)">
                                }
                            </swiper-slide>
                            }
                            }
                            @else if(Detail&&Detail.Image&&Detail.Image.Hinhchinh&&Detail.Image.Hinhchinh.src){
                            <swiper-slide class="p-2 border rounded-lg">
                                <img src="{{Detail.Image.Hinhchinh.src}}" class="p-16 mx-auto rounded-lg" 
                                (click)="ZoomImage(dialogZoom);SelectImage=Detail.Image.Hinhchinh.src">
                            </swiper-slide>
                            }
                            @else {
                            <img src="assets/images/noimage.png" class="p-16 mx-auto rounded-lg">
                            }
                        </swiper-container>
                    </div>
                </div>
                <div>
                    <div>
                        <swiper-container class="mySwiper2" space-between="10" slides-per-view="4"
                            watch-slides-progress="true">
                            @if(Detail&&Detail.ListImage&&Detail.ListImage.length>0){
                            @for (item of Detail?.ListImage; track $index) {
                            <swiper-slide class="p-2 border rounded-lg">
                                @if(item && item.src){
                                <img src="{{item.src}}" class="w-20" (click)="ZoomImage(dialogZoom);SelectImage=item.src">
                                }
                                @else{
                                <img src="assets/images/noimage.png" class="p-3 max-w-32 mx-auto rounded-lg">
                                }
                            </swiper-slide>
                            }
                            }
                            <!-- @else if(Detail&&Detail.Image&&Detail.Image.Hinhchinh&&Detail.Image.Hinhchinh.src){
                                <swiper-slide class="p-2 border rounded-lg">
                                    <img src="{{Detail.Image.Hinhchinh.src}}" class="p-16 mx-auto rounded-lg">
                                </swiper-slide>
                              }
                            @else{
                            <img src="assets/images/noimage.png" class="p-16 mx-auto rounded-lg">
                            } -->
                        </swiper-container>
                    </div>
                </div>
            </div>
            <div class="flex flex-col space-y-5 p-4">
                <div class="text-xl">{{ Detail?.Title }}</div>
                <!-- <div>SKU : {{ Detail?.SKU }}</div> -->
                <div class="flex flex-row space-x-2">
                    <div></div>
                    <div>0 Đánh Giá</div>
                </div>
                <div [innerHTML]="Detail?.Mota"></div>
                <div class="text-3xl font-semiboldbold">
                    {{ Giachon?.gia | number : '1.0-0' ||0 }} VNĐ
                </div>
                <div class="flex flex-row items-center gap-3">
                    <div class="text-sm text-default-700">Khối Lượng :</div>
                    @for (item of Detail?.Giagoc; track $index) {
                    <div (click)="Giachon=item">
                        <label for="1"
                            class="{{item.id==Giachon.id?'text-white bg-primary':''}} p-3 flex justify-center items-center cursor-pointer select-none rounded-full text-sm text-center bg-default-200 peer-checked:bg-primary peer-checked:text-white">
                            {{item.khoiluong}}{{item.dvt}} </label>
                    </div>

                    }
                </div>
                <div>Số Lượng Còn : <span class="font-bold">{{Tonkho?.Soluong | number:'1.0-0'||0}}</span></div>
                <div class="flex flex-row space-x-2">
                    <div class="relative inline-flex justify-between border border-default-200 p-1 rounded-full">
                        <button type="button" (click)="GiamSoluong()"
                            class="minus flex-shrink-0 bg-default-200 text-default-800 rounded-full h-9 w-9 text-sm inline-flex items-center justify-center bg-slate-100 hover:bg-slate-300">
                            –
                        </button>
                        <input type="text" [(ngModel)]="Soluong" [ngModelOptions]="{standalone: true}"
                            class="w-12 border-0 text-sm text-center focus:ring-0 p-0 bg-transparent" value="1" min="0"
                            max="100" readonly />
                        <button type="button" (click)="Soluong=Soluong+1 "
                            class="plus flex-shrink-0 bg-default-200 text-default-800 rounded-full h-9 w-9 text-sm inline-flex items-center justify-center bg-slate-100 hover:bg-slate-300">
                            +
                        </button>
                    </div>
                    <a (click)="AddtoCart(Detail)"
                        class="inline-flex items-center justify-center rounded-full border border-primary bg-primary px-6 py-3 text-center text-sm font-medium text-white shadow-sm transition-all duration-500 hover:bg-primary-500">
                        Thêm Vào Giỏ Hàng
                    </a>
                </div>
                <!-- <div class="flex flex-wrap gap-2 items-center">
                    <span> Thương Hiệu : </span>
                    <div class="border border-default-200 rounded-full px-3 py-1.5 flex items-center gap-2.5">
                        <img src="/assets/images/logo.webp" class="w-4" />
                        <span class="text-xs">Trần Gia</span>
                    </div>
                    <div class="border border-default-200 rounded-full px-3 py-1.5 flex items-center gap-2.5">
                        <img src="/assets/images/logo.webp" class="w-4" />
                        <span class="text-xs">Thương hiệu 1</span>
                    </div>
                    <div class="border border-default-200 rounded-full px-3 py-1.5 flex items-center gap-2.5">
                        <img src="/assets/images/logo.webp" class="w-4" />
                        <span class="text-xs">Thương hiệu 2</span>
                    </div>
                </div> -->
                <div>Danh Mục :</div>
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined">shoppingmode</span>
                    <span>Tag : </span>
                </div>
            </div>
        </div>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Chi Tiết">
                <p class="text-base p-4 {{Loadmore?'':'line-clamp-4'}}" [innerHTML]="Detail?.Noidung"></p>
                <div class="flex w-full text-center justify-center">
                    <span class="text-[#57A345] underline font-bold" (click)="Loadmore=!Loadmore">Xem thêm...</span>
                </div>
               
            </mat-tab>
            <mat-tab label="Đánh Giá Và Xếp Hạng">
                <div class="p-4">
                    Đánh Giá
                </div>
            </mat-tab>
        </mat-tab-group>
        </div>
    </div>
</section>

<section class="bg-white container py-6">
    <app-slide-sanpham [Title]="'Sản Phẩm Giá Rẻ'" [id_cat]="Detail.id_cat" [Sohang]="1"></app-slide-sanpham>
</section>


<ng-template #dialogZoom>
    <div class="!relative lg:h-[90vh] lg:w-[90vw]">
        <div class="relative flex flex-col space-y-2 p-3">
            <img [src]="SelectImage" class="mx-auto p-4" />
        </div>
        <div mat-dialog-actions class="!absolute top-0 right-2">
            <span class="material-symbols-outlined" mat-dialog-close="false">
                cancel
            </span>
        </div>
    </div>
</ng-template>