<div class="flex flex-row space-x-2">
<mat-form-field appearance="outline">
  <input matInput class="text-xs" placeholder="Tháng" [(ngModel)]="Thang" [ngModelOptions]="{standalone: true}">
</mat-form-field>
<mat-form-field appearance="outline" class="text-xs">
  <input matInput placeholder="State" [(ngModel)]="State" [ngModelOptions]="{standalone: true}">
</mat-form-field>

<button mat-stroked-button (click)="LoadListBanra()">Load Bán Ra</button>
</div>
{{Soluong}}
<div *ngFor="let item of ListBanra">{{item.shdon}}</div>