@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
}
.text-primary
{
  font-family: 'Quicksand', sans-serif !important;
}
.cdk-column-tgtcthue,
.cdk-column-tgtthue,
.cdk-column-tgtttbso,
.cdk-column-thtttoan,
.cdk-column-soluong,
.cdk-column-dgia,
.cdk-column-thanhtien {
  text-align: right !important;
}