<div class="p-4 bg-white rounded-lg">
<div class="flex flex-col space-y-3 divide-y-2 divide-dashed divide-black border-4 border-black p-4">
  <div class="grid grid-cols-3 gap-4 divide-x-2 divide-black">
    <img src="/assets/images/logo.webp" class="h-20 mx-auto">
    <div class="col-span-2 flex flex-col space-y-2 px-4">
      <span class="text-xl font-bold">CÔNG TY TNHH NÔNG SẢN THỰC PHẨM TRẦN GIA</span>
      <span>Địa chỉ: Tầng 3, Tòa nhà An Phú Plaza, 117-119 Lý Chính Thắng, Phường Võ Thị Sáu, Quận 3, TPHCM</span>
      <span>Điện thoại: 0868614214</span>
      <span>Email: rausachtrangia&#64;gmail.com</span>
    </div>
  </div>
  <div class="flex flex-col space-y-2 py-4">
    <span class="text-xl font-bold">Thông Tin Khách Hàng </span>
    <span>Tên : <strong>{{Donhang?.Khachhang?.Hoten}}</strong></span>
    <span>Số Điện Thoại : <strong>{{Donhang?.Khachhang?.SDT}}</strong></span>
    <span>Địa Chỉ : <strong>{{Donhang?.Khachhang?.Diachi}}</strong></span>
  </div>
  <div class="grid grid-cols-3 gap-4 divide-x-2 divide-black divide-dashed">
      <div class="col-span-2 flex flex-col space-y-2 p-4">
        <span class="text-xl font-bold">CHI TIẾT ĐƠN HÀNG:</span>
        @for (item of Donhang?.Giohangs?.Sanpham; track $index) {
          <div class="flex flex-row space-x-2">
            {{$index+1}}/{{item.Title}} - SL:{{item.Soluong}}
          </div>
        }
      </div>
      <div class="w-full flex flex-col space-y-2 p-8">
            <img src="https://page-photo-qr.zdn.vn/1705896364/c94bd179c73c2e62772d.jpg" class="w-40 mx-auto">
            <ul  class="list-disc p-4 font-bold space-y-4">
              <li>Mua hàng nhanh chóng và đơn giản hơn với Zalo App</li>
              <li>Giảm 10% cho đơn hàng đầu tiên sử dụng ZALO APP</li>
            </ul>
            <a href="https://rausachtrangia.com" class="text-center font-bold">www.rausachtrangia.com</a>
      </div>
  </div>
  <div class="grid grid-cols-2 p-4">
    <div class="flex flex-col space-y-4 items-center px-16 text-center">
      <div class="text-lg">Tiền thu người nhận :</div>
      <div class="text-2xl font-bold">200.000 VNĐ</div>
      <div class="text-xs">
        Với những đơn hàng đã chuyển khoản thì shipper chỉ thu phí ship (Nếu có)
      </div>
    </div>
    <div class="border p-4">
      <div class="font-bold text-lg text-center mb-16">Chữ ký người nhận</div>
    </div>
  </div>
</div>
</div>