  <div class="w-full flex flex-col justify-center items-center">
    <div class="{{isSticky?'fixed top-0 border border-b':''}} w-full z-10">
    <div class="{{isSticky?'lg:hidden':''}} lg:flex hidden w-full border border-b py-4 bg-white">
      <div class="container flex flex-row justify-between">
        <div>rausachtrangia&#64;gmail.com</div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <div class="flex flex-row space-x-2 items-center">
            <span>Vietnamese</span>
            <span class="material-symbols-outlined">arrow_drop_down</span>
          </div>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Vietnamese</button>
            <button mat-menu-item>English</button>
          </mat-menu>
        </div>
      </div>
    </div> 
    <div class="w-full bg-white">
        <app-header></app-header>      
    </div>
  </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>