<div class="p-8">
  <div class="flex flex-col space-y-2 relative rounded-lg bg-white">
    <div class="flex flex-row space-x-2 justify-center p-2">
    <mat-form-field>
        <mat-label>Tháng</mat-label>
        <mat-select [(ngModel)]="SearchParams.Thang" [ngModelOptions]="{standalone: true}" (selectionChange)="onChangeThang($event)">
          @for (item of [1,2,3,4,5,6,7,8,9,10,11,12]; track $index) {
            <mat-option [value]="item">{{item}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    <mat-form-field>
        <mat-label>Tình Trạng</mat-label>
        <mat-select [(ngModel)]="ttxly" [ngModelOptions]="{standalone: true}" (selectionChange)="onChangeTinhtrang($event)">
          @for (item of [5,6]; track $index) {
            <mat-option [value]="item">{{item}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    <mat-form-field class="example-form-field">
      <mat-label>Thời Gian Lấy Tổng Cục</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input matStartDate placeholder="Start date" [(ngModel)]="Chonngay.Batdau" [ngModelOptions]="{standalone: true}">
        <input matEndDate placeholder="End date" [(ngModel)]="Chonngay.Ketthuc" [ngModelOptions]="{standalone: true}">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="ChangeDate()">Đồng Ý</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Danh Mục</mat-label>
        <mat-select [(ngModel)]="ttxly" [ngModelOptions]="{standalone: true}" (selectionChange)="onSelectChange($event)">
          <mat-option [value]="5">Đã Cấp Mã Hoá Đơn</mat-option>
          <mat-option [value]="6">Nhận Chưa Cấp Mã Hoá Đơn</mat-option>
        </mat-select>
      </mat-form-field> -->
      <!-- <span (click)="Xoa()">Xoá</span> -->
      <!-- <button mat-icon-button (click)="FilterHoadon()"><span class="material-symbols-outlined">
        filter_alt
        </span></button>
      <button mat-stroked-button (click)="UpdateStatus()">UpStatus</button> --> 
      <mat-form-field>
        <mat-label>Token</mat-label>
        <input [(ngModel)]="Token" [ngModelOptions]="{standalone: true}"
         matInput placeholder="Token">
        </mat-form-field>
      <div class="flex flex-col space-y-2">
        <button mat-stroked-button (click)="TimHD()">Hoá Đơn Tổng Cục</button>
        <button mat-stroked-button (click)="ngOnInit()">Hoá Đơn Local</button>
      </div>
  </div>

  {{this.ListBanra?.totalCount}}/{{this.HoadonHHP?.totalCount}}
    <div class="">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="shdon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Số HD </th>
          <td mat-cell *matCellDef="let row"> {{row.shdon}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="ngaytao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Tạo </th>
          <td mat-cell *matCellDef="let row"> {{row.Ngaytao|date:'dd/MM/yyyy'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="ttxly">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tình Trạng Xử Lý </th>
          <td mat-cell *matCellDef="let row"> {{row.ttxly}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="nbten">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên </th>
          <td mat-cell *matCellDef="let row"> {{row.nbten}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- <ng-container matColumnDef="nbdchi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Địa Chỉ </th>
          <td mat-cell *matCellDef="let row"> {{row.nbdchi}} </td>
        </ng-container> -->
        <ng-container matColumnDef="tgtcthue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng Chưa Thuế </th>
          <td mat-cell *matCellDef="let row"> {{(row.tgtcthue | number:'1.0-0')||'0'}} </td>
          <td mat-footer-cell *matFooterCellDef class="text-right font-bold">{{Subtotal(Listfilter,'tgtcthue')|number:'1.0-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="tgtthue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Thuế </th>
          <td mat-cell *matCellDef="let row"> {{(row.tgtthue | number:'1.0-0')||'0'}} </td>
          <td mat-footer-cell *matFooterCellDef class="text-right font-bold">{{Subtotal(Listfilter,'tgtthue')|number:'1.0-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="tgtttbso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Thành Tiền </th>
          <td mat-cell *matCellDef="let row">{{(row.tgtttbso | number:'1.0-0')||'0'}} </td>
          <td mat-footer-cell *matFooterCellDef class="text-right font-bold">{{Subtotal(Listfilter,'tgtttbso')|number:'1.0-2'}} </td>
        </ng-container>
        <ng-container matColumnDef="thtttoan">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tông Thanh Toán </th>
          <td mat-cell *matCellDef="let row"> {{row.thtttoan}} </td>
          <td mat-footer-cell *matFooterCellDef class="text-right font-bold"></td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> 
            <div class="flex flex-row space-x-2">
            <button mat-stroked-button (click)="Update(row)">Chọn</button> 
            <button mat-stroked-button (click)="Delete(row.idServer)">Xoá</button> 
          </div>
          </td>
          <td mat-footer-cell *matFooterCellDef class="text-right font-bold"></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 100, Listfilter.length]"></mat-paginator>
    </div>
  </div>

  <!-- <button mat-button (click)="saveAsExcelFile()">Save</button> -->
</div>