<div class="z-10 fixed right-3 top-[30%] flex flex-col cursor-pointer p-2 space-y-3 bg-white rounded-lg border">
    <a href="https://zalo.me/0868614214"><img class="hover:scale-[110%] duration-500" src="/assets/images/zalo_icon.png"  width="40"></a>
    <a href="https://www.messenger.com/t"><img class="hover:scale-[110%] duration-500" src="/assets/images/facebook_icon.png"  width="40"></a>
    <a href="tel:0868614214"><img class="hover:scale-[110%] duration-500" src="/assets/images/phone_icon.png"  width="40"></a>
</div>