<div class="flex flex-row space-x-4 w-screen p-8">
    <div class="flex flex-col space-y-5">
        <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/shdhhp']"
        routerLinkActive="bg-slate-400">Hoá Đơn HHP</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/muavao']"
        routerLinkActive="bg-slate-400">Mua Vào</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/muavaochitiet']"
        routerLinkActive="bg-slate-400">Mua Vào Chi Tiết</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/banra']"
        routerLinkActive="bg-slate-400">Bán Ra</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/banrachitiet']"
        routerLinkActive="bg-slate-400">Bán Ra Chi Tiết</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/nhapkho']"
        routerLinkActive="bg-slate-400">Nhập Kho</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/xuatkho']"
        routerLinkActive="bg-slate-400">Xuất Koo</span> 
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/xuatnhapton']"
        routerLinkActive="bg-slate-400">Xuất Nhập Tồn</span> 
        <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/sanpham']"
        routerLinkActive="bg-slate-400">Sản Phẩm</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/test']"
        routerLinkActive="bg-slate-400">Test</span>
    <span class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/cauhinh']"
        routerLinkActive="bg-slate-400">Cấu Hình</span>  
    </div>
    <div class="w-full flex flex-col p-4">
        <div class="w-full rounded-lg">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
