<div class="grid grid-cols-6 gap-2">
    <div class="h-[90vh] p-4">
        <div class="flex flex-col space-y-5 !w-40">
            <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/shdhhp']"
            routerLinkActive="bg-slate-400">Hoá Đơn HHP</a>
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/muavao']"
            routerLinkActive="bg-slate-400">Mua Vào</a>
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/muavaochitiet']"
            routerLinkActive="bg-slate-400">Mua Vào Chi Tiết</a>
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/banra']"
            routerLinkActive="bg-slate-400">Bán Ra</a>
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/banrachitiet']"
            routerLinkActive="bg-slate-400">Bán Ra Chi Tiết</a>
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/nhapkho']"
            routerLinkActive="bg-slate-400">Nhập Kho</a>
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/xuatkho']"
            routerLinkActive="bg-slate-400">Xuất Kho</a> 
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/tonkho']"
            routerLinkActive="bg-slate-400">Tồn Kho</a> 
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/xuatnhapton']"
            routerLinkActive="bg-slate-400">Xuất Nhập Tồn</a> 
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/XNT']"
            routerLinkActive="bg-slate-400">XNT</a> 
            <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/sanpham']"
            routerLinkActive="bg-slate-400">Sản Phẩm</a>
            <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/sanphamchung']"
            routerLinkActive="bg-slate-400">Sản Phẩm Chung</a>
            <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/tonghop']"
            routerLinkActive="bg-slate-400">Tổng Hợp</a>
        <!-- <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/test']"
            routerLinkActive="bg-slate-400">Test</a>
        <a class="p-3 rounded-lg bg-slate-100 hover:bg-slate-400" [routerLink]="['/cauhinh']"
            routerLinkActive="bg-slate-400">Cấu Hình</a>   -->
        </div>
    </div>

    <div class="w-full col-span-5 flex flex-col p-4">
        <div class="w-full rounded-lg">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
