<div class="container flex flex-row space-x-2 justify-between lg:h-20 items-center py-4">
    <a href="/">
        <img src="/assets/images/logo.webp" class="lg:h-20 h-10">
    </a>
    <div class="hidden lg:flex flex-row space-x-3">
        @for(item of Menus; track item.id) {
        @if (item.children!=null&&item.children.length>0) {
        <a [href]="[item.Slug]" class="flex flex-row items-center header-link py-2 font-semibold uppercase transition-all" cdkOverlayOrigin
            #trigger="cdkOverlayOrigin" (mouseover)="Menus[$index].Show=true">
            {{item.Title}}
            <span class="material-symbols-outlined">
                expand_more
            </span>
        </a>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="Menus[$index].Show">
            @if (item.id==2) {
            <div class="border rounded-lg grid grid-cols-4 gap-4 bg-white p-4" (mouseleave)="Menus[$index].Show=false">
                @for (item of item.children; track $index) {
                <div class="flex flex-row space-x-2 items-center">
                    @if(item && item.Image&&item.Image.Thumb)
                    {
                      <img src="assets/images/sanpham/{{item.Image.Thumb}}" class="h-10">
                    }
                    @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                      <img src="{{item.Image.Hinhchinh.src}}" class="h-10">
                    }
                    @else {
                      <img src="assets/images/noimage.png" class="p-3 max-h-10 rounded-lg">
                    }
                    <!-- <img src="/assets/images/sanpham/rau-lang26385834.PNG" class="h-10"> -->
                    <a href="danh-muc/{{item.Slug}}">{{item.Title}}</a>
                </div>
                }
            </div>
            }
            @else {
            <div class="border rounded-lg grid grid-cols-1 gap-4 bg-white p-4" (mouseleave)="Menus[$index].Show=false">
                @for (item of item.children; track $index) {
                <a href="{{item.Slug}}">{{item.Title}}</a>
                }
            </div>
            }
        </ng-template>
        <!-- <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-screen">
            <div class="w-screen grid grid-cols-4" (mouseleave)="menuTrigger.closeMenu()">
                <a [routerLink]="[item1.Slug]" routerLinkActive="!bg-black !text-white" mat-menu-item
                    *ngFor="let item1 of item.children">{{item1.Title}}
                </a>
            </div>
        </mat-menu> -->
        }
        @else {
        <a class="flex flex-row items-center header-link py-2 font-semibold uppercase transition-all"
            [href]="[item.Slug]">
            <span class="text-sm">
                {{item.Title}}
            </span>
        </a> }
        }
    </div>
    <div class="flex flex-row space-x-4 items-center">
        <span (click)="TimkiemDialog(dialogTimkiem)"
            class="material-symbols-outlined text-red-500 p-2 cursor-pointer rounded-full border hover:bg-red-500 hover:text-white">search</span>

        @if(this.Token){
        <img [src]="User?.Image?.Main||'/assets/images/noimage.png'" class="rounded-full w-10 h-10 border"
            [matMenuTriggerFor]="user">
        }
        @else {
        <a href="dangnhap" mat-icon-button>
            <span class="material-symbols-outlined">
                person
            </span>
        </a>
        }

        <!-- <a href="san-pham-yeu-thich" matBadgeColor="warn" mat-icon-button matBadge="0">
            <span class="material-symbols-outlined">
                favorite
            </span></a> -->
        <a href="gio-hang" mat-icon-button matBadgeColor="warn" matBadge="{{(Soluong| number:'1.0-0')||0}}">
            <span class="material-symbols-outlined">shopping_cart</span>
        </a>
        <a href="gio-hang" class="text-red-500 font-bold">
            {{(Tongcong | number:'1.0-0')||'0'}}đ
        </a>
        <mat-menu #user="matMenu" xPosition="before">
            <button mat-menu-item>
                <a routerLink="/profile" routerLinkActive="bg-gray-200" class="flex flex-row space-x-3 items-center">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <span>Tài Khoản</span>
                </a>
            </button>
            <button mat-menu-item>
                <a routerLink="/admin" routerLinkActive="bg-gray-200" class="flex flex-row space-x-3 items-center">
                    <span class="material-symbols-outlined">account_circle</span>
                    <span>Admin</span>
                </a>
            </button>
            <a (click)="Dangxuat()" mat-menu-item>
                <div class="flex flex-row space-x-3 items-center">
                    <span class="material-symbols-outlined">logout</span>
                    <span>Đăng Xuất</span>
                </div>
            </a>
        </mat-menu>
        <button mat-icon-button (click)="sidebarVisible = true">
            <span class="lg:hidden material-symbols-outlined">
                menu
            </span>
        </button>
        <!-- <button class="flex transition-transform hover:scale-125 align-middle" (click)="toggleTheme()">
            <span *ngIf="!darkmode" class="material-icons">dark_mode</span>
            <span *ngIf="darkmode" class="material-icons">light_mode</span>
        </button> -->
    </div>

</div>
<p-sidebar [(visible)]="sidebarVisible" class="z-10" position="right" class="w-1/2">
    <ng-template pTemplate="header">
        <a href="/">
            <img src="/assets/images/logo.webp" class="lg:h-20 h-10">
        </a></ng-template>
    <ng-template pTemplate="content">

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <button mat-icon-button disabled></button>
                <a href="{{node.Slug}}">{{node.Title}}</a>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.Title">
                    <span
                        class="material-symbols-outlined">{{treeControl.isExpanded(node)?'expand_more':'navigate_next'}}</span>
                </button>
                <a href="{{node.Slug}}">{{node.Title}}</a>
            </mat-tree-node>
        </mat-tree>

    </ng-template>
    <ng-template pTemplate="footer">
        <div class="text-pgray-400 text-sm text-center">
            <p>© Copyright {{Today|date:'yyyy'}}</p>
        </div>
    </ng-template>
</p-sidebar>
<ng-template #dialogTimkiem>
    <div class="lg:w-[40vw] lg:h-[60vh] h-[90vh] w-[90vw] flex flex-col justify-between space-y-2 lg:p-8 p-3 divide-y">
        <div class="relative flex flex-col">
            <mat-form-field appearance="outline" class="w-full">
                <input matInput (input)="DoSearch($event)"  placeholder="Tìm Kiếm">
                <span matPrefix class="p-2 material-symbols-outlined">search</span>
            </mat-form-field>
        </div>
        <div class="relative flex flex-col space-y-2 h-full w-full overflow-auto p-3">
            @if(Timkiems.length>0){
                @for (item of Timkiems; track $index) {
                    <a href="san-pham/{{item.Slug}}" class="p-2 rounded-lg bg-slate-50 hover:bg-primary hover:text-white">
                        <span>{{item.Title}}</span>
                    </a> 
                }
            }
            @else{
                <span class="text-center font-bold">Không tìm thấy kết quả</span>
            }
        </div>
        <div mat-dialog-actions class="relative flex flex-0 items-center">
                <button class="ml-auto" mat-flat-button color="primary"  mat-dialog-close="false">Đóng</button>
        </div>
    </div>

    <!-- <div class="lg:w-[40vw] lg:h-[40vh] h-[95vh] flex flex-col justify-between space-y-3 divide-x-2">
        <div mat-dialog-content>
            <div class="flex flex-col w-full space-y-4 p-2">
                <mat-form-field appearance="outline" class="w-full !text-xs">
                    <input matInput (input)="DoSearch($event)"  placeholder="Tìm Kiếm">
                    <span matPrefix class="p-2 material-symbols-outlined">search</span>
                </mat-form-field>
                <div class="">
                    @for (item of Timkiems; track $index) {
                        <div class="p-2 rounded-lg bg-slate-50">
                            <span>{{item.Title}}</span>
                        </div> 
                    }
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="flex items-end">
            <button class="ml-auto" mat-flat-button color="primary"  mat-dialog-close="false">Đóng</button>
        </div>
    </div> -->
</ng-template>
