<app-banner></app-banner>
<div class="flex flex-col container">
  <section class="grid grid-cols-1 relative py-16">
    <div class="flex flex-col space-y-3 w-full col-span-4">
        <div>
           <swiper-container slides-per-view="6" speed="500" loop="true" pagination="true" class="space-x-4">
             <swiper-slide><img src="/assets/images/slide1.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide2.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide3.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide4.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide5.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide6.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide1.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide2.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide3.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide4.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide5.webp" class="w-full" /></swiper-slide>
             <swiper-slide><img src="/assets/images/slide6.webp" class="w-full" /></swiper-slide>
           </swiper-container>
           <div class="swiper-pagination"  slot="pagination"></div>
         </div>
       </div>
</section>
  <section class="grid grid-cols-4 gap-4 relative py-16">
    <div class="flex flex-row space-x-6 border-r-2 justify-center px-3">
        <img src="https://timona.di4lsell.com/uploads/322/24/01/1704690573.webp" class="w-14 h-14">
        <div class="flex flex-col space-y-3 items-center">
          <div class="text-base font-bold">NGUỒN GỐC RÕ RÀNG</div>
          <div>100% An Toàn</div>
        </div>
    </div>
    <div class="flex flex-row space-x-2 border-r-2 justify-center px-3">
      <img src="https://timona.di4lsell.com/uploads/322/22/05/1652517008.png" class="w-14 h-14">
      <div class="flex flex-col space-y-3 items-center">
        <div class="text-base font-bold">ĐỔI TRẢ MIỄN PHÍ</div>
        <div>Bất kỳ lý do gì</div>
      </div>
    </div>
    <div class="flex flex-row space-x-2 border-r-2 justify-center px-3">
      <img src="https://timona.di4lsell.com/uploads/322/22/05/1652516990.png" class="w-14 h-14">
      <div class="flex flex-col space-y-3 items-center">
        <div class="text-base font-bold">MIỄN PHÍ SHIP</div>
        <div>Với đơn hàng trên 200k</div>
      </div>
    </div>
    <div class="flex flex-row space-x-2 border-r-2 justify-center px-3">
      <img src="https://timona.di4lsell.com/uploads/322/22/05/1652517045.png" class="w-14 h-14">
      <div class="flex flex-col space-y-3 items-center">
        <div class="text-base font-bold">HỖ TRỢ 24/7</div>
        <div>Liên hệ ngay</div>
      </div>
    </div>
</section>
<section class="grid grid-cols-3 gap-3 relative py-16">
      <img src="/assets/images/banner11.png" alt="">
      <img src="/assets/images/banner12.png" alt="">
      <img src="/assets/images/banner13.png" alt="">
</section>
  <app-aboutus></app-aboutus>
  <app-sanphamnoibat></app-sanphamnoibat>
  <app-danhgia></app-danhgia>
  <app-promo></app-promo>
  <app-downloadapp></app-downloadapp>
</div>