<app-banner></app-banner>
<div class="flex flex-col container">
  <!-- <section class="lg:hidden grid grid-cols-1 relative py-8">
    <div class="flex flex-col space-y-3 w-full col-span-4">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper pb-16">
          @for (item of ListsSanpham; track $index) {
            <a href="san-pham/{{item.Slug}}" class="swiper-slide flex flex-col justify-center space-y-2">
              @if(item && item.Image&&item.Image.Thumb)
              {
                <img src="assets/images/sanpham/{{item.Image.Thumb}}" class="w-full">
              }
              @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                <img src="{{item.Image.Hinhchinh.src}}" class="w-full">
              }
              @else {
                <img src="assets/images/noimage.png" class="p-3 w-full rounded-lg">
              }
              <span class="text-sm">{{item.Danhmuc}}</span>
            </a>
          }
        </div>
      </div>
    </div>
  </section> -->
  <section class="grid lg:grid-cols-4 grid-cols-2 gap-4 relative py-8">
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-2 items-center justify-center">
      <img src="https://timona.di4lsell.com/uploads/322/24/01/1704690573.webp" class="w-14 h-14 mx-auto">
      <div class="lg:col-span-2 flex flex-col space-y-3 items-center justify-center text-center">
        <div class="text-base font-bold">NGUỒN GỐC RÕ RÀNG</div>
        <div>100% An Toàn</div>
      </div>
    </div>
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-2 items-center justify-center">
      <img src="https://timona.di4lsell.com/uploads/322/22/05/1652517008.png" class="w-14 h-14 mx-auto">
      <div class="lg:col-span-2 flex flex-col space-y-3 items-center justify-center text-center">
        <div class="text-base font-bold">ĐỔI TRẢ MIỄN PHÍ</div>
        <div>Bất kỳ lý do gì</div>
      </div>
    </div>
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-2 items-center justify-center">
      <img src="https://timona.di4lsell.com/uploads/322/22/05/1652516990.png" class="w-14 h-14 mx-auto">
      <div class="lg:col-span-2 flex flex-col space-y-3 items-center justify-center text-center">
        <div class="text-base font-bold">MIỄN PHÍ SHIP</div>
        <div>Với đơn hàng trên 500k</div>
      </div>
    </div>
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-2 items-center justify-center">
      <img src="https://timona.di4lsell.com/uploads/322/22/05/1652517045.png" class="w-14 h-14 mx-auto">
      <div class="lg:col-span-2 flex flex-col space-y-3 items-center justify-center text-center">
        <div class="text-base font-bold">HỖ TRỢ 24/7</div>
        <div>Liên hệ ngay</div>
      </div>
    </div>
  </section>
  @for (item of Danhmucs; track $index) {
    <app-slide-sanpham [id_cat]="item.id_cat" [Title]="item.Title"></app-slide-sanpham>
  }
  <!-- <app-slide-sanpham Filter="Moi" Title="Các Loại Củ"></app-slide-sanpham>
  <app-slide-sanpham Filter="Moi" Title="Các Loại Quả"></app-slide-sanpham>
  <app-slide-sanpham Filter="Moi" Title="Rau Lấy Bông"></app-slide-sanpham>
  <app-slide-sanpham Filter="Moi" Title="GIÁ RẺ MỖI NGÀY"></app-slide-sanpham>
  <app-slide-sanpham Filter="Moi" Title="GIÁ RẺ MỖI NGÀY"></app-slide-sanpham>
  <app-slide-sanpham Filter="Banchay" Title="SẢN PHẨM BÁN CHẠY"></app-slide-sanpham>
  <app-slide-sanpham Filter="Noibat" Title="GỢI Ý TỪ TRẦN GIA"></app-slide-sanpham> -->
  <section class="grid lg:grid-cols-3 grid-cols-1 gap-3 relative py-8">
    <img src="/assets/images/banner11.png">
    <img src="/assets/images/banner12.png">
    <img src="/assets/images/banner13.png">
  </section>
  <!-- <section class="grid grid-cols-1 relative">
    <h2 class="!text-2xl font-bold">
      Tin Tức
    </h2>
    <div class="flex flex-col space-y-3 w-full col-span-4">
      <div>
        <swiper-container slides-per-view="4" speed="500" loop="false" pagination="false" class="space-x-4">
          <swiper-slide><img src="/assets/images/slide1.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide2.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide3.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide4.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide5.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide6.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide1.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide2.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide3.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide4.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide5.webp" class="w-full" /></swiper-slide>
          <swiper-slide><img src="/assets/images/slide6.webp" class="w-full" /></swiper-slide>
        </swiper-container>
        <div class="swiper-pagination" slot="pagination"></div>
      </div>
    </div>
  </section> -->

  <section class="grid lg:grid-cols-2 grid-cols-2 relative py-8">
    <div class="flex flex-col">

    </div>
    <img src="" alt="">
  </section>
</div>