<div class="flex flex-col space-y-16 container">
  <app-banner></app-banner>
  <div class="grid lg:grid-cols-2 grid-col-1">
    <img src="/assets/images/aboutus.png" class="rounded-lg bg-gray-200">
    <div class="flex flex-col space-y-4 justify-between">
      <div class="flex flex-col space-y-4">
      <div><span class="bg-gray-200 rounded-3xl p-2">Về chúng tôi</span></div>
      <div><span class="text-xl font-bold">Where quality food meet Excellent services.</span></div>
      <div><span> It’s the perfect dining experience where every dish is crafted with fresh, high-quality ingredients
          and served by friendly staff who go.</span></div>
        </div>
        <div class="grid grid-cols-3 gap-4">
            <div class="flex flex-col space-y-4 p-2 rounded-lg shadow-lg border hover:border-blue-200">
              <img src="/assets/images/about-us-1.png"  class="w-10">
              <div>Fast Foods</div>
              <div>Healthy Foods are nutrient-Dense Foods</div>
            </div>
            <div class="flex flex-col space-y-4 p-2 rounded-lg shadow-lg border hover:border-blue-200">
              <img src="/assets/images/about-us-2.png"  class="w-10">
              <div>Fast Foods</div>
              <div>Healthy Foods are nutrient-Dense Foods</div>
            </div>
            <div class="flex flex-col space-y-4 p-2 rounded-lg shadow-lg border hover:border-blue-200">
              <img src="/assets/images/about-us-3.png"  class="w-10">
              <div>Fast Foods</div>
              <div>Healthy Foods are nutrient-Dense Foods</div>
            </div>
        </div>
    </div>
  </div>
</div>