<section class="grid grid-cols-1 relative py-8">
  <h2 class="!text-2xl font-bold">  
    {{Title}}
  </h2>
  <div class="flex flex-col space-y-3 w-full col-span-4">
      <div>
         <swiper-container slides-per-view="4" speed="500" loop="false" pagination="false" class="space-x-4">
           <swiper-slide><img src="/assets/images/slide1.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide2.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide3.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide4.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide5.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide6.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide1.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide2.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide3.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide4.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide5.webp" class="w-full" /></swiper-slide>
           <swiper-slide><img src="/assets/images/slide6.webp" class="w-full" /></swiper-slide>
         </swiper-container>
         <div class="swiper-pagination"  slot="pagination"></div>
       </div>
     </div>
</section>