<section class="w-screen flex items-center bg-gray-200 py-6">
    <div class="container">
        <div class="flex items-center justify-center">
            <ol aria-label="Breadcrumb" class="flex items-center whitespace-nowrap min-w-0 gap-2">
                <li class="text-sm">
                    <a class="flex items-center gap-2 align-middle text-default-800 transition-all leading-none hover:text-primary-500"
                        href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="home" class="lucide lucide-home w-4 h-4">
                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Trang Chủ
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </a>
                </li>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Cửa Hàng
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="bg-white">
    <div class="container grid lg:grid-cols-4 grid-cols-1 gap-3 py-8">
        <div class="flex flex-col space-y-2">
            <div
                class="{{isSticky?'fixed z-10 top-[90px]':''}} bg-white  lg:flex hidden flex-col space-y-6 border rounded-lg p-4">
                <div class="sidebar-widget">
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input (keyup)="applyFilter($event)" #search
                            class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Tìm Kiếm">
                    </div>
                </div>
                <hr />
                <div class="overflow-auto p-2 flex flex-col space-y-4">
                    <!-- <div class="flex flex-row justify-between items-center">
                        <div class="text-lg font-bold">Bộ Lọc</div>
                        <div class="hover:bg-slate-200 bg-slate-50 rounded-full p-2">Xoá</div>
                    </div>
                    <div class="text-xs">
                        <mat-chip-set>
                            @for (item of ChosenFilterDM; track $index) {
                            <mat-chip (click)="RemoveFilter(item)">
                                <div class="flex flex-row items-center space-x-2">
                                    <span>{{item.Title}}</span>
                                    <span class="material-symbols-outlined">
                                        cancel
                                    </span>
                                </div>
                            </mat-chip>
                            }
                        </mat-chip-set>
                    </div> -->
                    <div class="flex flex-col">
                        <div class="flex flex-row justify-between items-center">
                            <div class="text-lg font-bold">Theo danh mục</div>
                        </div>
                        @for (item of FilterDanhmuc; track $index) {

                        <div class="flex flex-row space-x-2 items-center">
                            <!-- <img src="/assets/images/sanpham/rau-lang26385834.PNG" class="h-10"> -->
                            <mat-checkbox (change)="onFilterChange()" color="warn"
                                class="flex flex-row space-x-2 items-center"
                                [(ngModel)]="FilterDanhmuc[$index].isChecked">
                                <div class="flex flex-row space-x-2 items-center">
                                    @if(item && item.Image&&item.Image.Thumb)
                                    {
                                    <img src="assets/images/sanpham/{{item.Image.Thumb}}" class="h-10">
                                    }
                                    @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                                    <img src="{{item.Image.Hinhchinh.src}}" class="h-10">
                                    }
                                    @else {
                                    <img src="assets/images/noimage.png" class="p-3 max-h-10 rounded-lg">
                                    }
                                    <span>{{item.Title}}</span>
                                </div>
                            </mat-checkbox>

                        </div>
                        }
                    </div>
                </div>
                <!-- <div class="py-4"><hr/></div>
            <div class="flex flex-col space-y-4">
                <div class="text-xl">Lọc theo Thương Hiệu</div>
                @for (item of LocThuongHieu; track $index) {
                    <div class="flex flex-row space-x-2 items-center">
                        <span class="material-symbols-outlined">check_box_outline_blank</span>                    
                        <div>{{item.Title}}</div>
                       </div>
                }
            </div> -->
            </div>
            <app-slide-sanpham [Type]="'DOC'" [Title]="'Sản Phẩm Giá Rẻ'"></app-slide-sanpham>
        </div>
        <div class="lg:col-span-3 flex flex-col space-y-2 z-0">
            <div class="flex flex-row space-x-3 justify-between items-center border rounded-lg p-3">
                <div class="inspect-total-filtered-products-wrapper">
                    Hiện có <span class="rounded-lg px-2 py-1 text-white bg-primary">{{ListSanpham.totalCount}}</span>
                    Sản Phẩm
                    <!-- <mat-paginator class="!text-primary" (page)="onPageChange($event)"
                        [length]="this.ListSanpham.totalCount" [pageSizeOptions]="pageSizeOptions"></mat-paginator> -->
                    <!--                   
                    <div class="inspect-total-filtered-products">
                        Hiển thị 1 - 4 of 4 Kết quả
                    </div> -->
                </div>
                <div class="flex flex-row space-x-3 items-center">
                    <select (change)="onChangeSorting($event)" [(ngModel)]="SortingFilter"
                        [ngModelOptions]="{standalone: true}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        @for (item of Sorting; track $index) {
                        <option value="{{item.id}}">{{item.Title}}</option>
                        }
                    </select>
                    <div class="lg:hidden flex" (click)="openBottomSheet(filterSheet)">
                        <button mat-icon-button><span class="material-symbols-outlined">tune</span></button>
                    </div>
                </div>
            </div>
            <div class="grid lg:grid-cols-3 grid-cols-2 gap-4">
                @for (item of FilterSanpham; track $index) {
                <app-sanphamblock [Detail]="item"></app-sanphamblock>
                }@empty {
                <div class="text-center">Không tìm thấy sản phẩm <span
                        class="rounded-lg px-2 py-1 text-white bg-primary">{{search.value}}</span></div>
                }
            </div>
            <div class="text-center">
                <mat-paginator class="!text-primary" (page)="onPageChange($event)"
                    [length]="this.ListSanpham.totalCount" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
            </div>
        </div>
    </div>
</section>

<ng-template #filterSheet>
    <div class="h-[50vh] bg-white lg:hidden flex flex-col space-y-6 border rounded-lg p-4">
        <div class="sidebar-widget">
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input (keyup)="applyFilter($event)" #search
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Tìm Kiếm">
            </div>
        </div>
        <hr />
        <div class="overflow-auto p-2 flex flex-col space-y-4">
            <div class="flex flex-col">
                <div class="flex flex-row justify-between items-center">
                    <div class="text-lg font-bold">Theo danh mục</div>
                </div>
                @for (item of FilterDanhmuc; track $index) {
                <mat-checkbox (change)="onFilterChange()" color="warn"
                    [(ngModel)]="FilterDanhmuc[$index].isChecked">{{item.Title}}</mat-checkbox>
                }
            </div>
        </div>
    </div>
</ng-template>