<section class="w-screen lflex items-center bg-default-400/10 py-11">
    <div class="container">
        <div class="flex items-center justify-center">
            <ol aria-label="Breadcrumb" class="flex items-center whitespace-nowrap min-w-0 gap-2">
                <li class="text-sm">
                    <a class="flex items-center gap-2 align-middle text-default-800 transition-all leading-none hover:text-primary-500"
                        href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="home" class="lucide lucide-home w-4 h-4">
                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Trang Chủ
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </a>
                </li>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Thanh Toán
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="lg:py-10 py-6">
    <div class="container">
        <div class="grid lg:grid-cols-3 grid-cols-1 gap-6">
            <div class="lg:col-span-2 col-span-1 border border-default-200 rounded-lg p-5">
                <div class="mb-8">
                    <h4 class="!text-xl !font-semibold text-default-800 mb-6">Thông tin thanh toán</h4>
                    <div class="grid lg:grid-cols-4 gap-6">
                        <div class="lg:col-span-2">
                            <label for="userName" class="block text-sm text-default-700 mb-2">Họ Tên *</label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="First Name">
                        </div>
                        <div class="lg:col-span-2">
                            <label for="userName" class="block text-sm text-default-700 mb-2">Địa Chỉ *</label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="Vui lòng nhập địa chỉ">
                        </div>
                        <div class="lg:col-span-2">
                            <label for="userName" class="block text-sm text-default-700 mb-2">Email </label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="example@gmail.com">
                        </div>

                        <div class="lg:col-span-2">
                            <label for="userName" class="block text-sm text-default-700 mb-2">Số Điện Thoại *</label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="Vui lòng nhập số điện thoại">
                        </div>

                        <!-- <div class="flex items-center">
                            <input id="shipmentAddress"
                                class="text-primary w-5 h-5 rounded border-default-200 focus:ring-0 bg-transparent"
                                type="checkbox" placeholder="+1  123-XXX-7890">
                            <label for="shipmentAddress" class="block text-sm text-default-700 ms-2">Ship into different
                                address </label>
                        </div> -->
                    </div>
                </div>

                <div class="mb-8">
                    <h4 class="text-lg font-medium text-default-800 mb-6">Hình thức thanh toán</h4>

                    <div class="border border-default-200 rounded-lg p-6 lg:w-full mb-5">
                        <div class="grid lg:grid-cols-4 grid-cols-2">
                            <div class="text-center p-6">
                                <label for="paymentCOD" class="flex flex-col items-center justify-center mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" data-lucide="dollar-sign"
                                        class="lucide lucide-dollar-sign text-primary mb-4">
                                        <line x1="12" x2="12" y1="2" y2="22"></line>
                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                    </svg>
                                    <h5 class="text-sm font-medium text-default-700">Trả tiền khi nhận hàng</h5>
                                </label>
                                <input id="paymentCOD"
                                    class="text-primary w-5 h-5 bg-transparent border-default-200 focus:ring-0"
                                    type="radio" name="paymentOption" checked="">
                            </div>

                            <!-- <div class="text-center p-6">
                                <label for="paymentPaypal" class="flex flex-col items-center justify-center mb-4">
                                    <img src="/yum/assets/paypal-2-80f6ebd0.svg" class="w-6 h-6 mb-4">
                                    <h5 class="text-sm font-medium text-default-700">Paypal</h5>
                                </label>
                                <input id="paymentPaypal"
                                    class="text-primary w-5 h-5 bg-transparent border-default-200 focus:ring-0"
                                    type="radio" name="paymentOption">
                            </div>

                            <div class="text-center p-6">
                                <label for="paymentAmazonPay" class="flex flex-col items-center justify-center mb-4">
                                    <img src="/yum/assets/amazon-b4e0cd8f.svg" class="w-6 h-6 mb-4">
                                    <h5 class="text-sm font-medium text-default-700">Amazon Pay</h5>
                                </label>
                                <input id="paymentAmazonPay"
                                    class="text-primary w-5 h-5 bg-transparent border-default-200 focus:ring-0"
                                    type="radio" name="paymentOption">
                            </div> -->
                            <div class="text-center p-6">
                                <label for="paymentCard" class="flex flex-col items-center justify-center mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" data-lucide="credit-card"
                                        class="lucide lucide-credit-card text-primary mb-4">
                                        <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                                        <line x1="2" x2="22" y1="10" y2="10"></line>
                                    </svg>
                                    <h5 class="text-sm font-medium text-default-700">Thẻ ghi nợ/Thẻ tín dụng</h5>
                                </label>
                                <input id="paymentCard"
                                    class="text-primary w-5 h-5 bg-transparent border-default-200 focus:ring-0"
                                    type="radio" name="paymentOption">
                            </div>
                            <div class="text-center p-6">
                                <label for="paymentCard" class="flex flex-col items-center justify-center mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" data-lucide="credit-card"
                                        class="lucide lucide-credit-card text-primary mb-4">
                                        <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                                        <line x1="2" x2="22" y1="10" y2="10"></line>
                                    </svg>
                                    <h5 class="text-sm font-medium text-default-700">VNPAY</h5>
                                </label>
                                <input id="paymentCard"
                                    class="text-primary w-5 h-5 bg-transparent border-default-200 focus:ring-0"
                                    type="radio" name="paymentOption">
                            </div>
                            <div class="text-center p-6">
                                <label for="paymentCard" class="flex flex-col items-center justify-center mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" data-lucide="credit-card"
                                        class="lucide lucide-credit-card text-primary mb-4">
                                        <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                                        <line x1="2" x2="22" y1="10" y2="10"></line>
                                    </svg>
                                    <h5 class="text-sm font-medium text-default-700">MOMO</h5>
                                </label>
                                <input id="paymentCard"
                                    class="text-primary w-5 h-5 bg-transparent border-default-200 focus:ring-0"
                                    type="radio" name="paymentOption">
                            </div>
                        </div>
                    </div>

                    <div class="grid lg:grid-cols-2 gap-6">
                        <div class="lg:col-span-2">
                            <label for="userName" class="block text-sm text-default-700 mb-2">Họ Tên Thẻ</label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="Họ Tên Thẻ">
                        </div>

                        <div class="lg:col-span-2">
                            <label for="userName" class="block text-sm text-default-700 mb-2">Số Thẻ</label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="Vui lòng nhập số thẻ">
                        </div>

                        <div>
                            <label for="userName" class="block text-sm text-default-700 mb-2">Ngày Hết Hạn</label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="Tháng/Năm">
                        </div>

                        <div>
                            <label for="userName" class="block text-sm text-default-700 mb-2">CVC</label>
                            <input id="userName"
                                class="block w-full bg-transparent dark:bg-default-50 rounded-full py-2.5 px-4 border border-default-200"
                                type="text" placeholder="Vui lòng nhập số CVC">
                        </div>

                    </div>
                </div>

                <div>
                    <h4 class="text-lg font-medium text-default-800 mb-6">Thông tin bổ sung</h4>

                    <div>
                        <textarea id="userName"
                            class="block w-full bg-transparent dark:bg-default-50 rounded-lg py-2.5 px-4 border border-default-200"
                            rows="4" type="text"
                            placeholder="Ghi chú giao hàng"></textarea>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <div class="border border-default-200 rounded-lg p-5">
                    <h4 class="!text-xl !font-semibold text-default-700 mb-5">Tóm tắt đơn hàng</h4>
                    @for (item of Giohangs; track $index) {
                    <div class="flex items-center mb-4">
                        <img src="/assets/images/sanpham/{{item.Image.Main}}" class="h-20 w-20 me-2">
                        <div>
                            <h4 class="text-sm text-default-600 mb-2">{{item.Title}}({{item?.Giachon?.loai}}{{item?.Giachon?.dvt}})</h4>
                            <h4 class="text-sm text-default-400">{{item.Soluong}} x <span
                                    class="text-primary font-semibold">{{(item.Giachon.gia| number:'1.0-0')||'0'}}đ</span>
                            </h4>
                        </div>
                    </div>
                    }
                    <div class="mb-6">
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Tổng</p>
                            <p class="text-sm text-default-700 font-medium">{{(GetTotal(Giohangs,'Soluong','Giachon')|
                                number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Phí Vận Chuyển</p>
                            <p class="text-sm text-default-700 font-medium">{{(Phivanchuyen| number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Giảm giá</p>
                            <p class="text-sm text-default-700 font-medium">{{(Giamgia| number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Thuế</p>
                            <p class="text-sm text-default-700 font-medium">{{(GetTotal(Giohangs,'Thue','')|
                                number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="border-b border-default-200 my-4"></div>
                        <div class="flex justify-between mb-3">
                            <p class="text-base text-default-700">Tổng Cộng</p>
                            <p class="text-base text-default-700 font-medium">{{GetTongcong()| number:'1.0-0'||'0'}}đ
                            </p>
                        </div>
                    </div>
                    <a href="don-hang"
                        class="w-full inline-flex items-center justify-center rounded-full border border-primary bg-primary px-10 py-3 text-center text-sm font-medium text-white shadow-sm transition-all duration-500 hover:bg-primary-500">Xác Nhận</a>
                </div>
            </div>
        </div>
    </div>
</section>