<section class="w-screen flex items-center bg-gray-200 py-8">
    <div class="container">
        <div class="flex items-center justify-center">
            <ol aria-label="Breadcrumb" class="flex items-center whitespace-nowrap min-w-0 gap-2">
                <li class="text-sm">
                    <a class="flex items-center gap-2 align-middle text-default-800 transition-all leading-none hover:text-primary-500"
                        href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="home" class="lucide lucide-home w-4 h-4">
                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Trang Chủ
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </a>
                </li>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Liên Hệ
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="lg:py-16 py-6">
    <div class="container space-y-4">
        <div class="text-xl font-bold">Thông Tin Liên Hệ</div>
        <div class="grid lg:grid-cols-3 gap-4 grid-cols-1">
            <div class="flex flex-col space-y-4  justify-center bg-gray-100 rounded-lg px-4 py-16 text-center">
                <div><span class="material-symbols-outlined">
                        location_on
                    </span></div>
                <div class="text-lg font-bold"> Địa Chỉ Của Chúng Tôi</div>
                <div> Tầng 3, Tòa nhà An Phú Plaza, 117-119 Lý Chính Thắng, Phường Võ Thị Sáu, Quận 3, TPHCM</div>
            </div>
            <div class="flex flex-col space-y-4 justify-center bg-gray-100 rounded-lg px-4 py-16 text-center">
                <div class="flex flex-row space-x-3 justify-center text-center">
                    <span class="material-symbols-outlined">
                        phone_iphone
                    </span>
                    <span>0868614214</span>
                </div>
                <div class="flex flex-row space-x-3 justify-center text-center">
                    <span class="material-symbols-outlined"> mail</span>
                    <span>rausachtrangia&#64;gmail.com</span>
                </div>
            </div>
            <div class="flex flex-col space-y-4  justify-center bg-gray-100 rounded-lg px-4 py-16 text-center">
                <div><span class="material-symbols-outlined">
                        schedule
                    </span></div>
                <div class="text-lg font-bold"> Giờ Mở Cửa</div>
                <div> Thứ hai - Thứ sáu 8:00 AM - 5:00 PM</div>
            </div>
        </div>

    </div>
</section>
<section class="lg:py-16 py-6">
    <div class="container space-y-4">
        <div class="grid lg:grid-cols-2 gap-4 grid-cols-1">
            <div class="flex flex-col space-y-4 bg-gray-100 rounded-lg px-4 py-16 text-center">
                <div>Liên Hệ</div>
                <div class="text-xl font-bold">Thông Tin Liên Lạc</div>
                <div class="grid lg:grid-cols-2 grid-cols-1 gap-4 text-center">
                    <input type="text"
                        class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
                        placeholder="Họ Tên">
                    <input type="text"
                        class="border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
                        placeholder="Email">
                    <input type="text"
                        class="col-span-2 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300 block w-full p-2.5"
                        placeholder="Chủ Đề">
                    <textarea rows="5"
                        class="col-span-2 block p-4 w-full text-gray-900 rounded-lg border border-gray-300 sm:text-sm focus:ring-2 focus:ring-fuchsia-50 focus:border-fuchsia-300"
                        placeholder="Nội dung"></textarea>
                </div>
                <div class="flex flex-row space-x-3 justify-center text-center">
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Gửi Thông Tin</button>
                </div>
            </div>
            <div class="flex flex-col space-y-4  justify-center bg-gray-100 rounded-lg px-4 py-16 text-center">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=10.766545,%20106.703516+(My%20Business%20Name)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</section>