<div class="p-8">
  <div class="flex flex-col space-y-2 relative rounded-lg bg-white">
    <div class="flex flex-row space-x-2 justify-center p-2">
   <div class="grid grid-cols-2">
    <mat-form-field>
      <mat-label>Tháng</mat-label>
      <mat-select [(ngModel)]="SearchParams.Thang" [ngModelOptions]="{standalone: true}" (selectionChange)="ngOnInit()">
        @for (item of [1,2,3,4,5,6,7,8,9,10,11,12]; track $index) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Năm</mat-label>
      <mat-select [(ngModel)]="SearchParams.Nam" [ngModelOptions]="{standalone: true}">
        @for (item of [2021,2022,2023,2024,2025]; track $index) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
        <mat-form-field>
      <mat-label>Tháng Tồn</mat-label>
      <mat-select [(ngModel)]="SearchParamsTonkho.Thang" [ngModelOptions]="{standalone: true}" (selectionChange)="ngOnInit()">
        @for (item of [1,2,3,4,5,6,7,8,9,10,11,12]; track $index) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Năm Tồn</mat-label>
      <mat-select [(ngModel)]="SearchParamsTonkho.Nam" [ngModelOptions]="{standalone: true}" (selectionChange)="ngOnInit()">
        @for (item of [2021,2022,2023,2024,2025]; track $index) {
          <mat-option [value]="item">{{item}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
   </div>
    <!-- <mat-form-field class="example-form-field">
      <mat-label>Thời Gian Lấy Tổng Cục</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input matStartDate placeholder="Start date" [(ngModel)]="Chonngay.Batdau" [ngModelOptions]="{standalone: true}">
        <input matEndDate placeholder="End date" [(ngModel)]="Chonngay.Ketthuc" [ngModelOptions]="{standalone: true}">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="ChangeDate()">Đồng Ý</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field> -->
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>Số Lượng Hiển Thị</mat-label>
        <input (ngModelChange)="ngOnInit()" [(ngModel)]="SearchParams.pageSize" [ngModelOptions]="{standalone: true}"
         type="text" matInput class="w-full px-3 py-2 border border-gray-200 rounded"
          [placeholder]="'Số Lượng Hiển Thị'"/>
      </mat-form-field>
      <div class="flex flex-row space-x-3">
        <div (click)="writeExcelFile(Listfilter)" class="flex flex-col items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
          <span class="material-symbols-outlined text-xl" matTooltip="Upload File">file_download</span>
          <span class="text-xs">Download</span>
        </div>
        <div (click)="AddNew(Listfilter)" class="flex flex-col items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
          <span class="material-symbols-outlined text-xl" matTooltip="Upload File">add_circle</span>
          <span class="text-xs">Thêm Mới</span>
        </div>
        
        <div (click)="Update(Listfilter)" class="flex flex-col items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
          <span class="material-symbols-outlined text-xl" matTooltip="Upload File">update</span>
          <span class="text-xs">Cập Nhật</span>
        </div>
        <div (click)="Filter()" class="flex flex-col items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
          <span class="material-symbols-outlined text-xl" matTooltip="Upload File">update</span>
          <span class="text-xs">Lọc</span>
        </div>
        <div (click)="LoadXNT()" class="flex flex-col items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
          <span class="material-symbols-outlined text-xl" matTooltip="Upload File">update</span>
          <span class="text-xs">LoadXNT</span>
        </div>
        </div>
    </div>
  </div>
    <div class="">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="TenSP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Sản Phẩm </th>
          <td mat-cell *matCellDef="let row">  {{row.TenSP}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="SLDK">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SL Đầu Kỳ </th>
          <td mat-cell *matCellDef="let row"> {{row.SLDK|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="TongDK">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tổng Đầu Kỳ </th>
          <td mat-cell *matCellDef="let row"> {{row.TongDK|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><strong>{{Subtotal(Listfilter,'TongDK')|number:'1.0-2'}}</strong> </td>
        </ng-container>
        <ng-container matColumnDef="SLN">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SL Nhập </th>
          <td mat-cell *matCellDef="let row"> {{row.SLN|number:'1.0-2'}} 

          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="TongNhap">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tổng Nhập </th>
          <td mat-cell *matCellDef="let row"> {{row.TongNhap|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><strong>{{Subtotal(Listfilter,'TongNhap')|number:'1.0-2'}}</strong> </td>
        </ng-container>
        <ng-container matColumnDef="SLX">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SL Xuất </th>
          <td mat-cell *matCellDef="let row"> {{row.SLX|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="TTVon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TT Vốn </th>
          <td mat-cell *matCellDef="let row"> {{row.TTVon|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><strong>{{Subtotal(Listfilter,'TTVon')|number:'1.0-2'}}</strong> </td>
        </ng-container>
        <ng-container matColumnDef="TongXuat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tổng Xuất </th>
          <td mat-cell *matCellDef="let row"> {{row.TongXuat|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><strong>{{Subtotal(Listfilter,'TongXuat')|number:'1.0-2'}}</strong> </td>
        </ng-container>
        <ng-container matColumnDef="Chenhlech">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Chênh Lệch </th>
          <td mat-cell *matCellDef="let row"> <span class="text-red-500">
            <div class="flex flex-col">
              <span>
                @if(row.SLDK!=0){
                 {{(row.TongDK/row.SLDK).toFixed(0)|number:'1.0-2'}}
                }
              </span>
              <span>
                @if(row.SLN!=0){
                  {{(row.TongNhap/row.SLN).toFixed(0)|number:'1.0-2'}}
                }
              </span>
              <span>
                @if(row.SLX!=0){
                  {{(row.TongXuat/row.SLX).toFixed(0)|number:'1.0-2'}}
                }
              </span>
              <span>
                @if(row.SLT!=0){
                  {{(row.TongTon/row.SLT).toFixed(0)|number:'1.0-2'}}
                }
              </span>
              <span>{{row.Chenhlech|number:'1.0-2'}}</span>
            </div>
       
           </span></td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="Quydoi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quy Đổi </th>
          <td mat-cell *matCellDef="let row"> {{row.Quydoi}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="SLT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SL Tồn </th>
          <td mat-cell *matCellDef="let row"> {{row.SLT|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="TTTon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TT Tồn </th>
          <td mat-cell *matCellDef="let row"> {{row.TTTon|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><strong>{{Subtotal(Listfilter,'TTTon')|number:'1.0-2'}}</strong> </td>
        </ng-container>
        <ng-container matColumnDef="TongTon">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tổng Tồn </th>
          <td mat-cell *matCellDef="let row"> {{row.TongTon|number:'1.0-2'}} </td>
          <td mat-footer-cell *matFooterCellDef><strong>{{Subtotal(Listfilter,'TongTon')|number:'1.0-2'}}</strong> </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
    </div>
  </div>

  <!-- <button mat-button (click)="saveAsExcelFile()">Save</button> -->
</div>