<div class="grid grid-cols-2">
  <mat-form-field appearance="fill">
    <mat-label>Tháng Lưu</mat-label>
    <input type="text" [(ngModel)]="thangluu" [ngModelOptions]="{standalone: true}"
     matInput class="px-3 py-2 border border-gray-200 rounded"
      [placeholder]="'Tìm kiếm bài viết'" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Năm Lưu</mat-label>
    <input type="text"  [(ngModel)]="namluu" [ngModelOptions]="{standalone: true}" matInput class="px-3 py-2 border border-gray-200 rounded"
      [placeholder]="'Tìm kiếm bài viết'" />
  </mat-form-field>
</div>
<div class="flex flex-col space-y-4">
  <div class="flex flex-col space-y-2 bg-white rounded-lg p-2" *ngFor="let item of ListXNT">
    <div class="text-center font-bold">{{item.Ngay}}</div>
    <div class="grid grid-cols-2 gap-4 font-bold">
      <div class="grid grid-cols-6">
        <span>Tên</span>
        <span>SHD</span>
        <span>Số Lượng</span>
        <span>Giá</span>
        <span>Thành Tiền</span>
        <span>Nhập</span>
      </div>
      <div class="grid grid-cols-6">
        <span>Tên</span>
        <span>SHD</span>
        <span>Số Lượng</span>
        <span>Giá</span>
        <span>Thành Tiền</span>
        <span>Xuất</span>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>     
         <div class="grid grid-cols-6" *ngFor="let item1 of FilterLoai(item.items,'NHAP')">
        <span>{{item1.ten}}</span>
        <span>{{item1.shdon}}</span>
        <span>{{item1.sluong}}</span>
        <span>{{item1.dgia}}</span>
        <span>{{item1.thtien}}</span>
        <span>{{item1.Loai}}</span>
    </div>
  </div>
<div>
  <div class="grid grid-cols-6" *ngFor="let item2 of FilterLoai(item.items,'XUAT')">
    <span>{{item2.ten}}</span>
    <span>{{item2.shdon}}</span>
    <span>{{item2.sluong}}</span>
    <span>{{item2.dgia}}</span>
    <span>{{item2.thtien}}</span>
    <span>{{item2.Loai}}</span>  
</div>
</div>


    </div>
  </div>
</div>


{
  "Ngay": "04/03/2023",
  "tenn": "Chiết khấu hàng bán",
  "shdonn": "8188",
  "sluongn": 0,
  "dgian": 0,
  "thtienn": 509044,
  "Loain": "NHAP",
  "tenx": "Chiết khấu 5% + 7% hỗ trợ thêm",
  "shdonx": "1165",
  "sluongx": 0,
  "dgiax": 0,
  "thtienx": 2444400,
  "Loaix": "XUAT"
}