@defer {
  <div class="bg-gray-50 relative p-4 w-full h-full md:h-auto">
    <div class="relative bg-white rounded-2xl  shadow-gray-700">
      <div class="flex justify-between items-start p-5 rounded-t border-b">
        <a [routerLink]="['../']" (click)="CloseDrawer()">
          <span class="material-symbols-outlined ">
            close
          </span>
        </a>
        <div class="flex flex-row space-x-2 items-center">
        <span class="p-2 rounded-lg 
        {{GetStatus(Detail.Status,'Class')}}" 
        [matMenuTriggerFor]="menu">
        {{GetStatus(Detail.Status,'Title')}}
      </span>  
      <mat-menu #menu="matMenu">
        <div class="flex flex-col space-y-2 p-3">
        @for (item1 of ListTrangThaiDonhang; track $index) {
          <span class="p-2 text-xs rounded-lg {{item1.Class}}" (click)="ChangeStatus(Detail,item1)">
            {{item1.Title}}
          </span>
          <!-- <button mat-menu-item>{{item.Title}}</button> -->
        }
      </div>
      </mat-menu>
        <span class="text-xl font-semibold" (click)="XemFormin(dialogXemFormin)">
          {{Detail?.MaDonHang}}
        </span>
      </div>
      </div>
      <div class="lg:p-6 p-2 space-y-6">
        <!-- <div class="lg:hidden relative my-10 w-[320px] mx-auto">
          <div class="flex mx-12 -mb-5">
            <div class="flex w-full h-1.5 bg-default-200 rounded-full overflow-hidden">
              <div class="w-1/3 flex flex-col justify-center overflow-hidden bg-primary rounded-full"></div>
            </div>
          </div>
  
          <div class="grid grid-cols-4 justify-center items-start gap-4 relative z-10 overflow-auto m-auto">
            <div class="flex flex-col justify-center items-center">
              <div class="bg-primary rounded-full text-white w-8 h-8 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  data-lucide="check" class="lucide lucide-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <h4
                class="text-center !text-[10px]">
                Xác Nhận Đơn Hàng
              </h4>
            </div>
  
            <div class="flex flex-col justify-center items-center">
              <div class="bg-primary rounded-full w-8 h-8 flex justify-center items-center">
                <span class="text-sm font-medium text-white">02</span>
              </div>
              <h4
                class="text-center !text-[10px]">
                Đang Xử Lý
              </h4>
            </div>
  
            <div class="flex flex-col justify-center items-center">
              <div
                class="backdrop-blur-sm border border-dashed border-primary rounded-full w-8 h-8 flex justify-center items-center">
                <span class="text-sm font-medium text-primary">03</span>
              </div>
              <h4
                class="text-center !text-[10px]">
                Đang vận chuyển
              </h4>
            </div>
  
            <div class="flex flex-col justify-center items-center">
              <div
                class="backdrop-blur-sm border border-dashed border-primary rounded-full w-8 h-8 flex justify-center items-center">
                <span class="text-sm font-medium text-primary">04</span>
              </div>
              <h4
                class="text-center !text-[10px]">
                Hoàn Thành
              </h4>
            </div>
          </div>
        </div>
        <div class="hidden lg:block relative my-10  mx-auto">
          <div class="flex mx-40 -mb-6">
            <div class="flex w-full h-1.5 bg-default-200 rounded-full overflow-hidden">
              <div class="w-1/3 flex flex-col justify-center overflow-hidden bg-primary rounded-full"></div>
            </div>
          </div>
  
          <div class="w-full grid grid-cols-4 justify-center items-start gap-4 relative z-10 overflow-auto m-auto">
            <div class="flex flex-col justify-center items-center">
              <div class="bg-primary rounded-full text-white w-10 h-10 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  data-lucide="check" class="lucide lucide-check">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
              </div>
              <h4
                class="text-center pt-2">
                Xác Nhận Đơn Hàng
              </h4>
            </div>
  
            <div class="flex flex-col justify-center items-center">
              <div class="bg-primary rounded-full w-10 h-10 flex justify-center items-center">
                <span class="text-sm font-medium text-white">02</span>
              </div>
              <h4
                class="text-center pt-2">
                Đang Xử Lý
              </h4>
            </div>
  
            <div class="flex flex-col justify-center items-center">
              <div
                class="backdrop-blur-sm border border-dashed border-primary rounded-full w-10 h-10 flex justify-center items-center">
                <span class="text-sm font-medium text-primary">03</span>
              </div>
              <h4
                class="text-center pt-2">
                Đang vận chuyển
              </h4>
            </div>
  
            <div class="flex flex-col justify-center items-center">
              <div
                class="backdrop-blur-sm border border-dashed border-primary rounded-full w-10 h-10 flex justify-center items-center">
                <span class="text-sm font-medium text-primary">04</span>
              </div>
              <h4
                class="text-center pt-2">
                Hoàn Thành
              </h4>
            </div>
          </div>
        </div> -->

  <app-timeline-donhang [Status]="Detail.Status"></app-timeline-donhang>
  
        <div class="grid lg:grid-cols-3 grid-cols-1 lg:gap-4 gap-1">
          <div class="w-full flex flex-col overflow-y-auto col-span-2">
            <div class="p-1.5 min-w-full inline-block align-middle">
                <table class="min-w-full divide-y divide-default-200 border">
                  <thead class="bg-default-400/10">
                    <tr>
                      <th scope="col"
                        class="min-w-[14rem] px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                        Sản Phẩm</th>
                      <!-- <th scope="col" class="px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                        Giá</th> -->
                      <th scope="col" class="px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                        Số Lượng</th>
                      <th scope="col" class="px-5 py-3 text-center text-xs font-medium text-default-500 uppercase">
                        Tổng Tiền</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y divide-default-200">
                    @for (item of Detail?.Giohangs?.Sanpham; track $index) {
                    <tr>
                      <td class="px-5 py-3 whitespace-nowrap">
                        <div class="flex items-center gap-2">
                          @if(item && item.Image&&item.Image.Thumb)
                          {
                            <img src="assets/images/sanpham/{{item.Image.Thumb}}" class="h-20 w-20">
                          }
                          @else if(item && item.Image&&item.Image.Hinhchinh&&item.Image.Hinhchinh.src){
                            <img src="{{item.Image.Hinhchinh.src}}" class="h-20 w-20">
                          }
                          @else {
                            <img src="assets/images/noimage.png" class="p-3 h-20 w-20 rounded-lg">
                          }
                          <h4 class="text-wrap text-sm font-medium text-default-800">
                            {{item.Title}}({{item?.Giachon?.khoiluong}}{{item?.Giachon?.dvt}})
                          </h4>
                        </div>
                      </td>
                      <!-- <td class="px-5 py-3 whitespace-nowrap text-sm text-default-800">
                        {{(item?.Giachon?.gia| number:'1.0-0')||'0'}}đ</td> -->
                      <td class="px-5 py-3 whitespace-nowrap">
                        <div class="inline-flex justify-between border border-default-200 p-1 rounded-full">
                          <input type="text"
                            class="w-8 border-0 text-sm text-center text-default-800 focus:ring-0 p-0 bg-transparent"
                            value="{{item.Soluong}}" min="0" max="100" readonly="">
                        </div>
                      </td>
                      <td class="px-5 py-3 whitespace-nowrap text-sm text-center text-default-800">
                        {{(item.Soluong*item.Giachon.gia| number:'1.0-0')||'0'}}đ</td>
                    </tr>
                    }
                  </tbody>
                </table>
            </div>
          </div>
  
          <div class="flex flex-col space-y-4">
            <div class="border border-default-200 rounded-lg p-3">
              <h4 class="!text-lg !font-semibold text-default-800">Tổng Giỏ Hàng</h4>
              <div class="">
                  <div class="flex justify-between mb-3">
                      <p class="text-sm text-default-500">Tổng</p>
                      <p class="text-sm text-default-700 font-medium">{{Detail.SubTotal|number:'1.0-0'||'0'}}đ</p>
                  </div>
                  <div class="flex justify-between mb-3">
                      <p class="text-sm text-default-500">Phí Vận Chuyển</p>
                      <p class="text-sm text-default-700 font-medium">{{(Detail.Vanchuyen.Phivanchuyen| number:'1.0-0')||'0'}}đ</p>
                  </div>
                  <div class="flex justify-between mb-3">
                      <p class="text-sm text-default-500">Giảm giá</p>
                      <p class="text-sm text-default-700 font-medium">
                        @if(Detail.Giamgia>0)
                        {
                        <p class="text-sm text-default-700 font-medium text-red-500">
                            - {{(Detail.Giamgia| number:'1.0-0')||'0'}}đ
                        </p>
                        }
                        @else {
                        <p class="text-sm text-default-700 font-medium">
                            {{(Detail.Giamgia| number:'1.0-0')||'0'}}đ
                        </p>
                        }</p>
                  </div>
                  <div class="flex justify-between mb-3">
                      <p class="text-sm text-default-500">Thuế</p>
                      <p class="text-sm text-default-700 font-medium">{{(GetTotal(Giohangs,'Thue','')|
                          number:'1.0-0')||'0'}}đ</p>
                  </div>
                <hr/>
                  <div class="!font-bold flex justify-between mt-3">
                      <p class="text-base text-default-700">Tổng Cộng</p>
                      <p class="text-base text-default-700">{{Detail.Total| number:'1.0-0'||'0'}}đ</p>
                  </div>
              </div>
          </div>
          <div class="rounded-lg border border-default-200">
              <div class="p-4 border-b border-default-200">
                <span class="!text-lg !font-semibold text-default-800">Vận Chuyển</span>
              </div>
              <div class="p-4">
                <h4 class="text-base font-medium text-default-800 mb-1">Địa Chỉ : {{Detail.Giohangs.Khachhang.Diachi}}</h4>
                <p class="text-sm text-red-500 mb-4 italic">Khoản Cách : {{Detail.Vanchuyen.text}}</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
} @loading {
  Loading...
}
<ng-template #dialogXemFormin>
  <div class="!relative lg:h-[90vh] lg:w-[90vw] p-4">
      <div class="relative flex flex-col space-y-2 p-3 w-[920px] mx-auto">
         <app-formin-admin [Donhang]="Detail"></app-formin-admin>
      </div>
      <div mat-dialog-actions class="!absolute top-0 right-2">
          <span class="material-symbols-outlined" mat-dialog-close="false">
              cancel
              </span>
      </div>
  </div>
</ng-template>

