<div class="bg-gray-50 relative p-4 w-full h-full md:h-auto">
  <div class="relative bg-white rounded-2xl  shadow-gray-700">
    <div class="flex justify-between items-start p-5 rounded-t border-b">
      <a [routerLink]="['../']" (click)="CloseDrawer()">
        <span class="material-symbols-outlined ">
          close
        </span>
      </a>
      <span class="text-xl font-semibold">
        {{Detail?.MaDonHang}}
      </span>
    </div>
    <div class="p-6 space-y-6">
      <div class="relative my-10">
        <div class="md:flex hidden mx-20 -mb-6">
          <div class="flex w-full h-1.5 bg-default-200 rounded-full overflow-hidden">
            <div class="w-1/2 flex flex-col justify-center overflow-hidden bg-primary rounded-full"></div>
          </div>
        </div>

        <div class="absolute inset-y-0 start-1/2 -translate-x-1/2 md:hidden flex">
          <div
            class="absolute inset-y-0 start-1/2 -translate-x-1/2 flex h-full w-1.5 bg-default-200 rounded-full overflow-hidden">
            <div
              class="absolute top-0 bottom-1/2 start-1/2 -translate-x-1/2 w-1.5 flex flex-col justify-center overflow-hidden bg-primary rounded-full">
            </div>
          </div>
        </div>

        <div class="flex md:flex-row flex-col justify-between items-center gap-8 relative z-10">
          <div class="flex flex-col justify-center items-center">
            <div class="bg-primary rounded-full text-white w-10 h-10 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                data-lucide="check" class="lucide lucide-check">
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
            </div>
            <h4
              class="text-sm text-default-800 mt-3 p-2 md:bg-transparent bg-default-100 md:shadow-none shadow rounded-lg">
              Xác Nhận Đơn Hàng
            </h4>
          </div>

          <div class="flex flex-col justify-center items-center">
            <div class="bg-primary rounded-full w-10 h-10 flex justify-center items-center">
              <span class="text-sm font-medium text-white">02</span>
            </div>
            <h4
              class="text-sm text-default-800 mt-3 p-2 md:bg-transparent bg-default-100 md:shadow-none shadow rounded-lg">
              Đang Xử Lý
            </h4>
          </div>

          <div class="flex flex-col justify-center items-center">
            <div
              class="backdrop-blur-sm border border-dashed border-primary rounded-full w-10 h-10 flex justify-center items-center">
              <span class="text-sm font-medium text-primary">03</span>
            </div>
            <h4
              class="text-sm text-default-800 mt-3 p-2 md:bg-transparent bg-default-100 md:shadow-none shadow rounded-lg">
              Đang vận chuyển
            </h4>
          </div>

          <div class="flex flex-col justify-center items-center">
            <div
              class="backdrop-blur-sm border border-dashed border-primary rounded-full w-10 h-10 flex justify-center items-center">
              <span class="text-sm font-medium text-primary">04</span>
            </div>
            <h4
              class="text-sm text-default-800 mt-3 p-2 md:bg-transparent bg-default-100 md:shadow-none shadow rounded-lg">
              Hoàn Thành
            </h4>
          </div>
        </div>
      </div>


      <div class="grid lg:grid-cols-3 grid-cols-1 gap-4">
        <div class="w-full flex flex-col overflow-y-auto col-span-2">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div>
              <table class="min-w-full divide-y divide-default-200">
                <thead class="bg-default-400/10">
                  <tr>
                    <th scope="col"
                      class="min-w-[14rem] px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                      Sản Phẩm</th>
                    <th scope="col" class="px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                      Giá</th>
                    <th scope="col" class="px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                      Số Lượng</th>
                    <th scope="col" class="px-5 py-3 text-center text-xs font-medium text-default-500 uppercase">
                      Tổng Tiền</th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-default-200">
                  @for (item of Detail.Giohangs.Sanpham; track $index) {
                  <tr>
                    <td class="px-5 py-3 whitespace-nowrap">
                      <div class="flex items-center gap-2">
                        <img src="/assets/images/sanpham/{{item.Image.Main}}" class="h-18 w-18">
                        <h4 class="text-wrap text-sm font-medium text-default-800">
                          {{item.Title}}({{item?.Giachon?.loai}}{{item?.Giachon?.dvt}})
                        </h4>
                      </div>
                    </td>
                    <td class="px-5 py-3 whitespace-nowrap text-sm text-default-800">
                      {{(item?.Giachon?.gia| number:'1.0-0')||'0'}}đ</td>
                    <td class="px-5 py-3 whitespace-nowrap">
                      <div class="inline-flex justify-between border border-default-200 p-1 rounded-full">
                        <input type="text"
                          class="w-8 border-0 text-sm text-center text-default-800 focus:ring-0 p-0 bg-transparent"
                          value="{{item.Soluong}}" min="0" max="100" readonly="">
                      </div>
                    </td>
                    <td class="px-5 py-3 whitespace-nowrap text-sm text-center text-default-800">
                      {{(item.Soluong*item.Giachon.gia| number:'1.0-0')||'0'}}đ</td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4">
          <div class="rounded-lg border border-default-200">
            <div class="p-4 border-b border-default-200">
              <h4 class="text-sm font-medium text-default-800">Total Payment :</h4>
            </div>

            <div class="px-4">
              <div class="py-4 flex justify-between border-b border-default-200">
                <h4 class="text-sm text-default-700">Subtotal :</h4>
                <h4 class="text-sm font-medium text-default-800">$365.00</h4>
              </div>
              <div class="py-4 flex justify-between border-b border-default-200">
                <h4 class="text-sm text-default-700">Discount :</h4>
                <h4 class="text-sm font-medium text-default-800">20%</h4>
              </div>
              <div class="py-4 flex justify-between border-b border-default-200">
                <h4 class="text-sm text-default-700">Shipping :</h4>
                <h4 class="text-sm font-medium text-default-800">Free</h4>
              </div>
              <div class="py-4 flex justify-between">
                <h4 class="text-lg text-default-700">Total :</h4>
                <h4 class="text-lg font-medium text-default-800">$84.00</h4>
              </div>
            </div>
          </div>
          <div class="rounded-lg border border-default-200">
            <div class="p-4 border-b border-default-200">
              <h4 class="text-sm font-medium text-default-800">Shipping Address</h4>
            </div>

            <div class="p-4">
              <h4 class="text-base font-medium text-default-800 mb-1">Ryan Westervelt</h4>
              <p class="text-sm text-default-600 mb-4">2123 Parker st. Allentown, New Mexico 123456</p>

              <h4 class="text-base font-medium text-default-800 mb-1">Email</h4>
              <p class="text-sm text-default-600 mb-4">ryanwestenvelt&#64;mail.com</p>

              <h4 class="text-base font-medium text-default-800 mb-1">Phone</h4>
              <p class="text-sm text-default-600 mb-4">(123) 456-7890</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>