<div class="w-screen h-screen bg-slate-50 flex items-center justify-center" #printArea>
  <div class="flex flex-col space-y-2 p-4 h-full w-[80vw] items-center justify-between">
    <div class="flex flex-col space-y-4 items-center border p-4 rounded-lg bg-white">
      <div class="w-full flex flex-row space-x-2 justify-between items-center">
        <div><img src="https://tazagroup.vn/assets/images/tazagroup-logo-trangchu.svg" class="h-20"></div>
        <div>BM-01-QT-KT-02</div>
      </div>
      <div>Ngày hiệu lực: 10/01/2018</div>
      <div class="text-xl font-bold">PHIẾU ĐỀ XUẤT CÔNG VIỆC</div>
      <div class="w-full  grid grid-cols-3 gap-2">
        @if(isEdit){
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Họ Tên</mat-label>
            <input [(ngModel)]="Detail.Hoten" [ngModelOptions]="{standalone: true}" type="text" matInput
              class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Họ Tên'" />
          </mat-form-field>
        }
        @else{
          <div>Họ và tên: <strong>{{Detail.Hoten}}</strong></div>
        }

        @if(isEdit){
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Bộ phận</mat-label>
            <input [(ngModel)]="Detail.Bophan" [ngModelOptions]="{standalone: true}" type="text" matInput
              class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Bộ phận'" />
          </mat-form-field>
        }
        @else{
          <div>Họ và tên : <strong>{{Detail.Bophan}}</strong></div>
        }

        @if(isEdit){
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Chức danh</mat-label>
            <input [(ngModel)]="Detail.Chucdanh" [ngModelOptions]="{standalone: true}" type="text" matInput
              class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Chức danh'" />
          </mat-form-field>
        }
        @else{
          <div>Chức danh : <strong>{{Detail.Chucdanh}}</strong></div>
        }
      </div>
      <div class="w-full flex flex-col space-y-2 justify-start">
        <div>Đề xuất công việc như sau : </div>

        @if(isEdit){
        <ul class="ml-4 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
          @for (item of Detail.ListCongviec; track $index) {
            <div class="flex flex-row space-x-2">
           <mat-form-field appearance="outline" class="w-full">
              <mat-label>Công việc {{$index+1}}</mat-label>
              <input [(ngModel)]="item.Title" [ngModelOptions]="{standalone: true}" type="text" matInput
                class="w-full px-3 py-2 border border-gray-200 rounded" placeholder="Công Việc {{$index+1}}" />
                <!-- <button mat-flat-button matSuffix color="primary" class="bg-red-500" (click)="AddCongviec()">Copy</button>    -->
            </mat-form-field> 
            <button mat-icon-button matSuffix (click)="CopyCongviec(item)">
              <span class="material-icons mr-2">content_copy</span>
            </button>
            <button mat-icon-button matSuffix (click)="XoaCongviec(item)">
              <span class="material-icons mr-2">delete</span>
            </button>
            </div>
 

          }
        </ul>

        <div class="mx-auto">
          <button mat-flat-button color="primary" class="bg-red-500" (click)="AddCongviec()">Thêm</button>
        </div>

        }
        @else{
        <ul class="ml-4 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
          @for (item of Detail.ListCongviec; track $index) {
            <li class="font-bold">{{item.Title}}</li>
          }
        </ul>
        }
      </div>
      @if(isEdit){
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Dự toán kinh phí</mat-label>
          <input [(ngModel)]="Detail.Kinhphi" [ngModelOptions]="{standalone: true}" type="text" matInput
            class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Dự toán kinh phí'" />
            <mat-hint class="text-red-500">{{Detail.Kinhphi|number:'1.0-2'}}đ</mat-hint>
        </mat-form-field>
      }
      @else{
        <!-- <div class="w-full">Dự toán kinh phí : {{Detail.Kinhphi}}</div> -->
        <div class="w-full">Dự toán kinh phí : <strong>{{Detail.Kinhphi|number:'1.0-2'}}đ</strong></div>
      }

      <div class="w-full grid grid-cols-2 gap-2 justify-center">
        <div class="flex flex-col justify-between text-center">
          <div class="font-bold text-base"> BGĐ/ Trưởng Bộ phận</div>
          <div> (Ký và Ghi rõ Họ Tên)</div>
          <div class="mt-24">
            @if(isEdit){
              <mat-form-field appearance="outline">
                <mat-label>Trưởng Bộ Phận</mat-label>
                <input [(ngModel)]="Detail.Truongbophan" [ngModelOptions]="{standalone: true}" type="text" matInput
                  class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Trưởng Bộ Phận'" />
              </mat-form-field>
            }
            @else{
              <div><strong>{{Detail.Truongbophan}}</strong></div>
            }
          </div>
        </div>
        <div class="flex flex-col justify-between text-center">
          @if(isEdit){
            <div class="flex flex-row space-x-2">
            <mat-form-field appearance="outline">
              <mat-label>Thành Phố</mat-label>
              <input [(ngModel)]="Detail.Thanhpho" [ngModelOptions]="{standalone: true}" type="text" matInput
                class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Thành Phố'" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ngày Tháng</mat-label>
              <input [(ngModel)]="Detail.Ngaythang" [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          }
          @else{
            <div> <strong>{{Detail.Thanhpho}}</strong>, Ngày <strong>{{GetNgay()}}</strong> tháng <strong>{{GetThang()}}</strong> năm <strong>{{GetNam()}}</strong></div>
          }

          <div class="font-bold"> Người đề nghị</div>
          <div> (Ký và Ghi rõ Họ Tên)</div>
         <div class="mt-24">
          @if(isEdit){
            <mat-form-field appearance="outline">
              <mat-label>Người Đề Nghị</mat-label>
              <input [(ngModel)]="Detail.Nguoidenghi" [ngModelOptions]="{standalone: true}" type="text" matInput
                class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Người Đề Nghị'" />
            </mat-form-field>
          }
          @else{
            <div><strong>{{Detail.Nguoidenghi}}</strong></div>
          }
        </div>
        </div>
      </div>
    </div>
    <div class="flex flex-row space-x-2 items-center">
      @if(isEdit==true)
      {
        <button mat-flat-button color="primary" (click)="Luuthongtin();isEdit=false">Lưu</button>
        <button mat-flat-button (click)="Luuthongtin()">Reset</button>
      }
      @else {
        <button mat-flat-button color="accent" (click)="isEdit=true">Sửa</button>
        <button mat-flat-button color="primary" (click)="printDiv()">In</button>
      }
    </div>
  </div>
  <div class="flex flex-col space-y-2 p-4 h-full w-[80vw] items-center justify-between">
    <div class="flex flex-col space-y-4 items-center border p-4 rounded-lg bg-white">
      <div class="w-full flex flex-row space-x-2 justify-between items-center">
        <div><img src="https://tazagroup.vn/assets/images/tazagroup-logo-trangchu.svg" class="h-20"></div>
        <div>BM-04-QT-KT-02</div>
      </div>
      <div>Ngày hiệu lực: 10/01/2018</div>
      <div class="text-xl font-bold">PHIẾU ĐỀ NGHỊ THANH TOÁN, QUYẾT TOÁN</div>
      <div class="w-full  grid grid-cols-3 gap-2">
        @if(isEdit){
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Họ Tên</mat-label>
            <input [(ngModel)]="Detail.Hoten" [ngModelOptions]="{standalone: true}" type="text" matInput
              class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Họ Tên'" />
          </mat-form-field>
        }
        @else{
          <div>Họ và tên: <strong>{{Detail.Hoten}}</strong></div>
        }

        @if(isEdit){
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Bộ phận</mat-label>
            <input [(ngModel)]="Detail.Bophan" [ngModelOptions]="{standalone: true}" type="text" matInput
              class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Bộ phận'" />
          </mat-form-field>
        }
        @else{
          <div>Họ và tên : <strong>{{Detail.Bophan}}</strong></div>
        }

        @if(isEdit){
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Chức danh</mat-label>
            <input [(ngModel)]="Detail.Chucdanh" [ngModelOptions]="{standalone: true}" type="text" matInput
              class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Chức danh'" />
          </mat-form-field>
        }
        @else{
          <div>Chức danh : <strong>{{Detail.Chucdanh}}</strong></div>
        }
      </div>
      <div class="w-full flex flex-col space-y-2 justify-start">
        <div>Đề xuất công việc như sau : </div>

        @if(isEdit){
        <ul class="ml-4 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
          @for (item of Detail.ListCongviec; track $index) {
            <div class="flex flex-row space-x-2">
           <mat-form-field appearance="outline" class="w-full">
              <mat-label>Công việc {{$index+1}}</mat-label>
              <input [(ngModel)]="item.Title" [ngModelOptions]="{standalone: true}" type="text" matInput
                class="w-full px-3 py-2 border border-gray-200 rounded" placeholder="Công Việc {{$index+1}}" />
                <!-- <button mat-flat-button matSuffix color="primary" class="bg-red-500" (click)="AddCongviec()">Copy</button>    -->
            </mat-form-field> 
            <button mat-icon-button matSuffix (click)="CopyCongviec(item)">
              <span class="material-icons mr-2">content_copy</span>
            </button>
            <button mat-icon-button matSuffix (click)="XoaCongviec(item)">
              <span class="material-icons mr-2">delete</span>
            </button>
            </div>
 

          }
        </ul>

        <div class="mx-auto">
          <button mat-flat-button color="primary" class="bg-red-500" (click)="AddCongviec()">Thêm</button>
        </div>

        }
        @else{
        <ul class="ml-4 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
          @for (item of Detail.ListCongviec; track $index) {
            <li class="font-bold">{{item.Title}}</li>
          }
        </ul>
        }
      </div>
      @if(isEdit){
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Dự toán kinh phí</mat-label>
          <input [(ngModel)]="Detail.Kinhphi" [ngModelOptions]="{standalone: true}" type="text" matInput
            class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Dự toán kinh phí'" />
            <mat-hint class="text-red-500">{{Detail.Kinhphi|number:'1.0-2'}}đ</mat-hint>
        </mat-form-field>
      }
      @else{
        <!-- <div class="w-full">Dự toán kinh phí : {{Detail.Kinhphi}}</div> -->
        <div class="w-full">Dự toán kinh phí : <strong>{{Detail.Kinhphi|number:'1.0-2'}}đ</strong></div>
      }

      <div class="w-full grid grid-cols-2 gap-2 justify-center">
        <div class="flex flex-col justify-between text-center">
          <div class="font-bold text-base"> BGĐ/ Trưởng Bộ phận</div>
          <div> (Ký và Ghi rõ Họ Tên)</div>
          <div class="mt-24">
            @if(isEdit){
              <mat-form-field appearance="outline">
                <mat-label>Trưởng Bộ Phận</mat-label>
                <input [(ngModel)]="Detail.Truongbophan" [ngModelOptions]="{standalone: true}" type="text" matInput
                  class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Trưởng Bộ Phận'" />
              </mat-form-field>
            }
            @else{
              <div><strong>{{Detail.Truongbophan}}</strong></div>
            }
          </div>
        </div>
        <div class="flex flex-col justify-between text-center">
          @if(isEdit){
            <div class="flex flex-row space-x-2">
            <mat-form-field appearance="outline">
              <mat-label>Thành Phố</mat-label>
              <input [(ngModel)]="Detail.Thanhpho" [ngModelOptions]="{standalone: true}" type="text" matInput
                class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Thành Phố'" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Ngày Tháng</mat-label>
              <input [(ngModel)]="Detail.Ngaythang" [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          }
          @else{
            <div> <strong>{{Detail.Thanhpho}}</strong>, Ngày <strong>{{GetNgay()}}</strong> tháng <strong>{{GetThang()}}</strong> năm <strong>{{GetNam()}}</strong></div>
          }

          <div class="font-bold"> Người đề nghị</div>
          <div> (Ký và Ghi rõ Họ Tên)</div>
         <div class="mt-24">
          @if(isEdit){
            <mat-form-field appearance="outline">
              <mat-label>Người Đề Nghị</mat-label>
              <input [(ngModel)]="Detail.Nguoidenghi" [ngModelOptions]="{standalone: true}" type="text" matInput
                class="w-full px-3 py-2 border border-gray-200 rounded" [placeholder]="'Người Đề Nghị'" />
            </mat-form-field>
          }
          @else{
            <div><strong>{{Detail.Nguoidenghi}}</strong></div>
          }
        </div>
        </div>
      </div>
    </div>


    <div class="flex flex-row space-x-2 items-center">
      @if(isEdit==true)
      {
        <button mat-flat-button color="primary" (click)="Luuthongtin();isEdit=false">Lưu</button>
        <button mat-flat-button (click)="Luuthongtin()">Reset</button>
      }
      @else {
        <button mat-flat-button color="accent" (click)="isEdit=true">Sửa</button>
        <button mat-flat-button color="primary" (click)="printDiv()">In</button>
      }
    </div>
  </div>
</div>