<div class="flex flex-col space-y-4">
<div class="flex flex-row space-x-3">

<mat-form-field appearance="fill">
  <mat-label>Tháng</mat-label>
  <input type="text" matInput class="px-3 py-2 border border-gray-200 rounded"
    [placeholder]="'Tìm kiếm bài viết'" />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Năm</mat-label>
  <input type="text" matInput class="px-3 py-2 border border-gray-200 rounded"
    [placeholder]="'Tìm kiếm bài viết'" />
</mat-form-field>

<button mat-raised-button (click)="FindHoadon()">
  FindHoadon
</button>
</div>


<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="Tenhang">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên hàng </th>
    <td mat-cell *matCellDef="let row"> {{row.Tenhang}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="SHD">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Hoá Đơn </th>
    <td mat-cell *matCellDef="let row"> {{row.SHD}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="Soluong">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Số Lượng </th>
    <td mat-cell *matCellDef="let row"> {{row.Soluong|number:'1.0-2'}} </td>
    <td mat-footer-cell *matFooterCellDef>{{Subtotal(Data1,'Soluong')|number:'1.0-2'}}</td>
  </ng-container>
  <ng-container matColumnDef="Gia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Giá </th>
    <td mat-cell *matCellDef="let row"> {{row.Gia}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <ng-container matColumnDef="Tongtien">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng Tiền </th>
    <td mat-cell *matCellDef="let row"> {{row.Tongtien|number:'1.0-2'}} </td>
    <td mat-footer-cell *matFooterCellDef>{{Subtotal(Data1,'Tongtien')|number:'1.0-2'}}</td>
  </ng-container>
  <ng-container matColumnDef="Loai">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Loại </th>
    <td mat-cell *matCellDef="let row"> {{row.Loai}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  <!-- <ng-container matColumnDef="Gia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng Chưa Thuế </th>
    <td mat-cell *matCellDef="let row"> {{(row.Gia | number:'1.0-0')||'0'}} </td>
    <td mat-footer-cell *matFooterCellDef class="text-right font-bold">{{Subtotal(Listfilter,'tgtcthue')|number:'1.0-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="tgtthue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Thuế </th>
    <td mat-cell *matCellDef="let row"> {{(row.tgtthue | number:'1.0-0')||'0'}} </td>
    <td mat-footer-cell *matFooterCellDef class="text-right font-bold">{{Subtotal(Listfilter,'tgtthue')|number:'1.0-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="tgtttbso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Thành Tiền </th>
    <td mat-cell *matCellDef="let row">{{(row.tgtttbso | number:'1.0-0')||'0'}} </td>
    <td mat-footer-cell *matFooterCellDef class="text-right font-bold">{{Subtotal(Listfilter,'tgtttbso')|number:'1.0-2'}} </td>
  </ng-container>
  <ng-container matColumnDef="thtttoan">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tông Thanh Toán </th>
    <td mat-cell *matCellDef="let row"> {{row.thtttoan}} </td>
    <td mat-footer-cell *matFooterCellDef class="text-right font-bold"></td>
  </ng-container> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 100, Data1.length]"></mat-paginator>

</div>