<section class="w-screen lflex items-center bg-default-400/10 py-11">
    <div class="container">
        <div class="flex items-center justify-center">
            <ol aria-label="Breadcrumb" class="flex items-center whitespace-nowrap min-w-0 gap-2">
                <li class="text-sm">
                    <a class="flex items-center gap-2 align-middle text-default-800 transition-all leading-none hover:text-primary-500"
                        href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="home" class="lucide lucide-home w-4 h-4">
                            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        Trang Chủ
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            data-lucide="chevron-right" class="lucide lucide-chevron-right w-4 h-4">
                            <path d="m9 18 6-6-6-6"></path>
                        </svg>
                    </a>
                </li>
                <li aria-current="page"
                    class="text-sm font-medium text-primary truncate leading-none hover:text-primary-500">
                    Giỏ Hàng
                </li>
            </ol>
        </div>
    </div>
</section>
<section class="lg:py-10 py-6">
    <div class="container">
        <div class="grid lg:grid-cols-3 grid-cols-1 gap-6">
            <div class="lg:col-span-2 col-span-1">
                <div class="border border-default-200 rounded-lg">
                    <div class="flex flex-row justify-between items-center p-6">
                        <div class="border-default-200">
                            <span class="!text-lg !font-medium text-default-800">Giỏ Hàng</span>
                        </div>
                        <div (click)="DeleteCart()">
                            <span class="material-symbols-outlined p-2 hover:text-white hover:rounded-full hover:bg-primary">
                            delete
                            </span>
                        </div>
                    </div>
                    <div class="flex flex-col overflow-hidden">
                        <div class="-m-1.5 overflow-x-auto">
                            <div class="p-1.5 min-w-full inline-block align-middle">
                                <div class="overflow-hidden">
                                    <table class="min-w-full divide-y divide-default-200">
                                        <thead class="bg-default-400/10">
                                            <tr>
                                                <th scope="col"
                                                    class="min-w-[14rem] px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                                                    Sản Phẩm</th>
                                                <th scope="col"
                                                    class="px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                                                    Giá</th>
                                                <th scope="col"
                                                    class="px-5 py-3 text-start text-xs font-medium text-default-500 uppercase">
                                                    Số Lượng</th>
                                                <th scope="col"
                                                    class="px-5 py-3 text-center text-xs font-medium text-default-500 uppercase">
                                                    Tổng Tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody class="divide-y divide-default-200">
                                            @for (item of Giohangs; track $index) {
                                            <tr>
                                                <td class="px-5 py-3 whitespace-nowrap">
                                                    <div class="flex items-center gap-2">
                                                        <button (click)="RemoveFromCart(item)"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                height="24" viewBox="0 0 24 24" fill="none"
                                                                stroke="currentColor" stroke-width="2"
                                                                stroke-linecap="round" stroke-linejoin="round"
                                                                data-lucide="x-circle"
                                                                class="lucide lucide-x-circle w-5 h-5 text-default-400">
                                                                <circle cx="12" cy="12" r="10"></circle>
                                                                <path d="m15 9-6 6"></path>
                                                                <path d="m9 9 6 6"></path>
                                                            </svg></button>
                                                        <img src="/assets/images/sanpham/{{item.Image.Main}}"
                                                            class="h-18 w-18">
                                                        <h4 class="text-sm font-medium text-default-800">{{item.Title}}({{item?.Giachon?.loai}}{{item?.Giachon?.dvt}})
                                                        </h4>
                                                    </div>
                                                </td>
                                                <td class="px-5 py-3 whitespace-nowrap text-sm text-default-800">
                                                    {{(item?.Giachon?.gia| number:'1.0-0')||'0'}}đ</td>
                                                <td class="px-5 py-3 whitespace-nowrap">
                                                    <div
                                                        class="inline-flex justify-between border border-default-200 p-1 rounded-full">
                                                        <button type="button"
                                                            class="minus flex-shrink-0 bg-default-200 text-default-800 rounded-full h-6 w-6 text-sm inline-flex items-center justify-center">–</button>
                                                        <input type="text"
                                                            class="w-8 border-0 text-sm text-center text-default-800 focus:ring-0 p-0 bg-transparent"
                                                            value="{{item.Soluong}}" min="0" max="100" readonly="">
                                                        <button type="button"
                                                            class="plus flex-shrink-0 bg-default-200 text-default-800 rounded-full h-6 w-6 text-sm inline-flex items-center justify-center">+</button>
                                                    </div>
                                                </td>
                                                <td
                                                    class="px-5 py-3 whitespace-nowrap text-sm text-center text-default-800">
                                                    {{(item.Soluong*item.Giachon.gia| number:'1.0-0')||'0'}}đ</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-t border-default-200 px-6 py-5">
                        <div class="flex flex-wrap justify-between items-center gap-2">
                            <button
                                class="inline-flex items-center justify-center rounded-full border border-primary text-primary hover:bg-primary hover:text-white px-6 py-3 text-center text-sm font-medium shadow-sm transition-all duration-500">
                                Quay lại
                            </button>

                            <button
                                class="inline-flex items-center justify-center rounded-full border border-primary text-primary hover:bg-primary hover:text-white px-6 py-3 text-center text-sm font-medium shadow-sm transition-all duration-500">
                                Cập Nhật Giỏ Hàng
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="border border-default-200 rounded-lg p-5 mb-5">
                    <h4 class="t!ext-lg !font-semibold text-default-800 mb-5">Tổng Giỏ Hàng</h4>
                    <div class="mb-6">
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Tổng</p>
                            <p class="text-sm text-default-700 font-medium">{{(GetTotal(Giohangs,'Soluong','Giachon')|
                                number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Phí Vận Chuyển</p>
                            <p class="text-sm text-default-700 font-medium">{{(Phivanchuyen| number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Giảm giá</p>
                            <p class="text-sm text-default-700 font-medium">{{(Giamgia| number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="flex justify-between mb-3">
                            <p class="text-sm text-default-500">Thuế</p>
                            <p class="text-sm text-default-700 font-medium">{{(GetTotal(Giohangs,'Thue','')|
                                number:'1.0-0')||'0'}}đ</p>
                        </div>
                        <div class="border-b border-default-200 my-4"></div>
                        <div class="!font-bold flex justify-between mb-3">
                            <p class="text-base text-default-700">Tổng Cộng</p>
                            <p class="text-base text-default-700">{{GetTongcong()| number:'1.0-0'||'0'}}đ</p>
                        </div>
                    </div>

                    <a href="thanh-toan"
                        class="w-full inline-flex items-center justify-center rounded-full border border-primary bg-primary px-10 py-3 text-center text-sm font-medium text-white shadow-sm transition-all duration-500 hover:bg-primary-500">
                        Thanh Toán
                    </a>
                </div>

                <div class="border border-default-200 rounded-lg">
                    <div class="px-6 py-5 border-b border-default-200">
                        <h4 class="!text-lg !font-semibold text-default-800">Mã Khuyến Mãi</h4>
                    </div>
                    <div class="p-6">
                        <input id="LoggingEmailAddress"
                            class="block w-full bg-transparent rounded-full py-2.5 px-4 border border-default-200"
                            type="text" placeholder="Nhập Mã Khuyến Mãi">

                        <div class="flex justify-end mt-4">
                            <button
                                class="inline-flex items-center justify-center rounded-full border border-primary bg-primary px-6 py-3 text-center text-sm font-medium text-white shadow-sm transition-all duration-500 hover:bg-primary-500">Áp
                                dụng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>